<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <!-- If you delete this meta tag, the ground will open and swallow you. -->
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no">

    <title>Metalloprokat Newsletter</title>

    <style type="text/css">
        @media only screen and (max-width: 672px) {
            table[id=wrapper] {
                width: 100%;
            }
        }
    </style>
</head>

<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#E6E3DF">
    <tr>
        <td>

            <!-- WRAPPER -->
            <table id="wrapper" width="672" align="center" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td valign="top">

                        <!-- HEADER -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#171F26">
                            <tr>
                                <td valign="middle" style="padding: 23px; padding-right: 0; font-family: Arial; color: #FFFFFF; font-size: 24px; font-weight: bold; line-height: 24px;">
                                    <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #FFFFFF; text-decoration: none;">
                                        <img src="./markup/html/mail/path-to-images/logo-metalloprokat.gif" alt="Металлопрокат.ру" title="Металлопрокат.ру" border="0" width="201" height="30" style="vertical-align: top;" />
                                    </a>
                                </td>
                                <td valign="middle" align="right" style="padding: 23px; padding-left: 0; font-family: Arial; color: #A6A39D; font-size: 13px; line-height: 19px;">
                                    19 мая — 02 июня 2013  &bull;  <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #2972A6; text-decoration: none;">www.metalloprokat.ru</a>
                                </td>
                            </tr>
                        </table>
                        <!-- /HEADER -->

                    </td>
                </tr>
                <tr>
                    <td valign="top">

                        <!-- BODY -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
                            <tr>
                                <td valign="top" style="padding: 24px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left" valign="top" style="padding-bottom: 15px; font-family: Arial; color: #171F26; font-size: 24px; line-height: 26px;">
                                                Здравствуйте, Василий Пупкин.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" style="font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                Предложения от компаний, торгующих арматурой, трубами.
                                                <a href="#" target="_blank" style="color: #2972A6; font-weight: bold; text-decoration: none;">Настроить</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" style="padding: 15px 0 0; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                <a href="#" style="display: inline-block; background: #18A3D1; color: #fff; text-transform: uppercase;
                                                    padding: 5px 10px; text-decoration: none; border-radius: 4px;">Отправить заявку на металл</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0 24px; font-family: Arial; color: #171F26;  font-size: 16px; font-weight: bold; line-height: 21px;">Арматура</td>
                            </tr>
                            <tr>
                                <td valign="top" style="padding: 24px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="64" align="left" valign="top" style="font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                <img src="./markup/html/mail/path-to-images/image-64x68.gif" alt="" border="0" width="64" height="68" style="vertical-align: top;" />
                                            </td>
                                            <td width="20" valign="top"></td>
                                            <td width="240" align="left" valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 3px; font-family: Arial; color: #171F26; font-size: 18px; line-height: 21px;">
                                                            Арматура строительная
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 3px; font-family: Arial; color: #A6A39D; font-size: 16px; line-height: 21px;">
                                                            Размер 30x30
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 17px; font-family: Arial; color: #A6A39D; font-size: 16px; line-height: 21px;">
                                                            от<b style="color: #E74C3C; font-weight: bold;"> 25 000 руб.</b> за тонну
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #2972A6; font-weight: bold; text-decoration: none;">Посмотреть позицию</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="30" valign="top"></td>
                                            <td width="270" align="left" valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 6px; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            <img src="./markup/html/mail/path-to-images/badge-star.gif" alt="Star" title="Star" border="0" width="18" height="16" style="vertical-align: top;" />
                                                            <img src="./markup/html/mail/path-to-images/badge-star.gif" alt="Star" title="Star" border="0" width="18" height="16" style="vertical-align: top;" />
                                                            <img src="./markup/html/mail/path-to-images/badge-star.gif" alt="Star" title="Star" border="0" width="18" height="16" style="vertical-align: top;" />
                                                        </td>
                                                        <td width="75" align="right" valign="top" rowspan="4" style="font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            <img src="./markup/html/mail/path-to-images/image-65x64.jpg" alt="" border="0" width="65" height="64" style="vertical-align: top;" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 1px; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #2972A6; font-weight: bold; text-decoration: none;">Стальторг</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 1px; font-family: Arial; color: #A6A39D; font-size: 13px; line-height: 19px;">
                                                            филиал в Люберцах
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="1" bgcolor="#F2F0ED" valign="top"></td>
                            </tr>
                            <tr>
                                <td valign="top" style="padding: 24px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="64" align="left" valign="top" style="font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                <img src="./markup/html/mail/path-to-images/image-64x68.gif" alt="" border="0" width="64" height="68" style="vertical-align: top;" />
                                            </td>
                                            <td width="20" valign="top"></td>
                                            <td width="240" align="left" valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 3px; font-family: Arial; color: #171F26; font-size: 18px; line-height: 21px;">
                                                            Арматура композитная
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 3px; font-family: Arial; color: #A6A39D; font-size: 16px; line-height: 21px;">
                                                            Размер 40x30
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 17px; font-family: Arial; color: #A6A39D; font-size: 16px; line-height: 21px;">
                                                            от<b style="color: #E74C3C; font-weight: bold;"> 20 000 руб.</b> за тонну
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #2972A6; font-weight: bold; text-decoration: none;">Посмотреть позицию</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="30" valign="top"></td>
                                            <td width="270" align="left" valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 6px; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            <img src="./markup/html/mail/path-to-images/badge-star.gif" alt="Star" title="Star" border="0" width="18" height="16" style="vertical-align: top;" />
                                                            <img src="./markup/html/mail/path-to-images/badge-star.gif" alt="Star" title="Star" border="0" width="18" height="16" style="vertical-align: top;" />
                                                            <img src="./markup/html/mail/path-to-images/badge-star.gif" alt="Star" title="Star" border="0" width="18" height="16" style="vertical-align: top;" />
                                                        </td>
                                                        <td width="75" align="right" valign="top" rowspan="4" style="font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            <img src="./markup/html/mail/path-to-images/image-65x64.jpg" alt="" border="0" width="65" height="64" style="vertical-align: top;" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 1px; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #2972A6; font-weight: bold; text-decoration: none;">Вик-Профи</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 1px; font-family: Arial; color: #A6A39D; font-size: 13px; line-height: 19px;">
                                                            филиал в Люберцах
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding:0 24px; font-family: Arial; color: #171F26; font-size: 16px; font-weight: bold; line-height: 19px;">Трубы</td>
                            </tr>
                            <tr>
                                <td valign="top" style="padding: 24px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="64" align="left" valign="top" style="font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                <img src="./markup/html/mail/path-to-images/image-64x68.gif" alt="" border="0" width="64" height="68" style="vertical-align: top;" />
                                            </td>
                                            <td width="20" valign="top"></td>
                                            <td width="240" align="left" valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 3px; font-family: Arial; color: #171F26; font-size: 18px; line-height: 21px;">
                                                            Труба б/у
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 3px; font-family: Arial; color: #A6A39D; font-size: 16px; line-height: 21px;">
                                                            Размер 30x30
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 17px; font-family: Arial; color: #A6A39D; font-size: 16px; line-height: 21px;">
                                                            от<b style="color: #E74C3C; font-weight: bold;"> 25 000 руб.</b> за тонну
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #2972A6; font-weight: bold; text-decoration: none;">Посмотреть позицию</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="30" valign="top"></td>
                                            <td width="270" align="left" valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 6px; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            <img src="./markup/html/mail/path-to-images/badge-star.gif" alt="Star" title="Star" border="0" width="18" height="16" style="vertical-align: top;" />
                                                            <img src="./markup/html/mail/path-to-images/badge-star.gif" alt="Star" title="Star" border="0" width="18" height="16" style="vertical-align: top;" />
                                                            <img src="./markup/html/mail/path-to-images/badge-star.gif" alt="Star" title="Star" border="0" width="18" height="16" style="vertical-align: top;" />
                                                        </td>
                                                        <td width="75" align="right" valign="top" rowspan="4" style="font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            <img src="./markup/html/mail/path-to-images/image-65x64.jpg" alt="" border="0" width="65" height="64" style="vertical-align: top;" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 1px; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #2972A6; font-weight: bold; text-decoration: none;">Стальторг</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 1px; font-family: Arial; color: #A6A39D; font-size: 13px; line-height: 19px;">
                                                            филиал в Люберцах
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="1" bgcolor="#F2F0ED" valign="top"></td>
                            </tr>
                            <tr>
                                <td valign="top" style="padding: 24px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="64" align="left" valign="top" style="font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                <img src="./markup/html/mail/path-to-images/image-64x68.gif" alt="" border="0" width="64" height="68" style="vertical-align: top;" />
                                            </td>
                                            <td width="20" valign="top"></td>
                                            <td width="240" align="left" valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 3px; font-family: Arial; color: #171F26; font-size: 18px; line-height: 21px;">
                                                            Труба лежалая
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 3px; font-family: Arial; color: #A6A39D; font-size: 16px; line-height: 21px;">
                                                            Размер 40x30
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 17px; font-family: Arial; color: #A6A39D; font-size: 16px; line-height: 21px;">
                                                            от<b style="color: #E74C3C; font-weight: bold;"> 20 000 руб.</b> за тонну
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #2972A6; font-weight: bold; text-decoration: none;">Посмотреть позицию</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="30" valign="top"></td>
                                            <td width="270" align="left" valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 6px; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            <img src="./markup/html/mail/path-to-images/badge-star.gif" alt="Star" title="Star" border="0" width="18" height="16" style="vertical-align: top;" />
                                                            <img src="./markup/html/mail/path-to-images/badge-star.gif" alt="Star" title="Star" border="0" width="18" height="16" style="vertical-align: top;" />
                                                            <img src="./markup/html/mail/path-to-images/badge-star.gif" alt="Star" title="Star" border="0" width="18" height="16" style="vertical-align: top;" />
                                                        </td>
                                                        <td width="75" align="right" valign="top" rowspan="4" style="font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            <img src="./markup/html/mail/path-to-images/image-65x64.jpg" alt="" border="0" width="65" height="64" style="vertical-align: top;" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 1px; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #2972A6; font-weight: bold; text-decoration: none;">Вик-Профи</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top" style="padding-bottom: 1px; font-family: Arial; color: #A6A39D; font-size: 13px; line-height: 19px;">
                                                            филиал в Люберцах
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!-- /BODY -->

                    </td>
                </tr>
                <tr>
                    <td valign="top">

                        <!-- FOOTER -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#171F26">
                            <tr>
                                <td valign="top" style="padding: 24px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left" valign="top" style="padding-bottom: 20px; font-family: Arial; color: #A6A39D; font-size: 12px; line-height: 19px;">
                                                Если вы не ждали этого письма, <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #FFFFFF; text-decoration: none;">отпишитесь от рассылки</a>.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" style="font-family: Arial; color: #A6A39D; font-size: 12px; line-height: 19px;">
                                                Металлопрокат.ру &copy; 2000—2013 &ensp; <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #2972A6; text-decoration: none;">Пользовательское соглашение</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="1" bgcolor="#2F363C" valign="top"></td>
                            </tr>
                            <tr>
                                <td valign="top" style="padding: 16px 24px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="1%" align="left" valign="middle" style="padding-right: 15px; font-family: Arial; color: #8A8884; font-size: 12px; line-height: 19px;">
                                                <img src="./markup/html/mail/path-to-images/badge-rspm.gif" alt="РСПМ" title="РСПМ" border="0" width="105" height="47" style="vertical-align: middle;" />
                                            </td>
                                            <td align="left" valign="middle" style="font-family: Arial; color: #8A8884; font-size: 12px; line-height: 19px;">
                                                Действительный член РСПМ
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!-- /FOOTER -->

                    </td>
                </tr>
            </table>
            <!-- /WRAPPER -->

        <td>
    </tr>
</table>

</body>
</html>
