{% extends '@markup/content/_content_layout.html.twig' %}

{% block content %}
    {% block callback %}
        <div class="title-callback outline big-size">Купить стройматериалы в России по
            <span class="link clickable">лучшей цене</span>
            <strong class="phone-company">8 (800) 555-56-65</strong>
            <span class="callback-link link clickable js-popup-opener">обратный звонок</span>
        </div>
    {% endblock callback %}
    <div id="content" class="content-wide table-container outline-left">
        <div class="left table-cell">
            <div class="inside-page">
                <div class="product-info-wrapper clearfix">
                    {#<div class="product-img is-bordered">#}
                        {#<a class="img-link pattern-big" href="#"></a>#}
                    {#</div>#}

                    <div class="product-info">
                        <div class="creation-info gray60-color">
                            <span class="date icon-clock">15 апр 2015 11:25</span>,
                            <span class="user-name link clickable js-popup-opener" data-popup="#user-info">admin</span>
                        </div>
                        <h1 class="product_main-title">
                            Все о резервном электроснабжении в домах – автозапуск, генератор, ИБП
                        </h1>
                        <div class="tags icon-clip gray60-color">
                            <span>Метки: </span>
                            <a class="link">Кондиционер</a>,
                            <a class="link">Электроснабжение</a>
                        </div>
                        <div class="information">
                            <p class="text">Согласитесь, и у вас дома есть какое-то оборудование, которому вы хотели бы обеспечить
                                бесперебойное питание даже в случае, когда электричества нет. Это и водоснабжение
                                горячей водой, и холодильники, и компьютеры, а так же отопительные котлы и средства
                                связи. Каждый скачок напряжения или же полное отключение от питания сокращает срок
                                службы вашего оборудования, потому стоит заранее продумать систему бесперебойной подачи
                                электроэнергии хотя бы по минимуму. В настоящий момент в наличии два варианта решения
                                таких проблем – это запасные генераторы электроэнергии и источники бесперебойного
                                питания (ИБП).</p>
                            <h2 class="inside-title">ИБП в домашних условиях</h2>
                            <p class="text">Если рассматривать частный пример, то ноутбуки снабжены подобными блоками для подачи
                                бесперебойного питания всем нам известно, что информация во время скачка напряжения
                                теряется, что крайне негативно может отразиться на любой работе.</p>
                            <img src="./markup/pic/1.jpg" alt="image description">
                            <p class="text">Но в попытках защитить свои электроприборы, ИБП широко применяется в домашних условиях.
                                Таким образом, защищается и дежурное освежение, и непрерывная работа котельной, что
                                крайне важно в отопительный сезон. Но наличие ИБП может в корне поменять схему
                                электропроводки и электроснабжения.</p>
                        </div>
                    </div>

                </div>
                <div class="links">
                    <div class="item width-182">
                        <span class="add-review button green-bg js-popup-opener">Добавить комментарий</span>
                    </div>
                </div>
                <div id="tabs" class="result-tabs-wrapper tabs demand_tabs catalog-tabs clearfix">
                    <ul class="tabs-list clearfix">
                        <li class="item active js-tabs" data-tab="#comments-tab">
                            <span class="count float-right">1</span>
                            <span class="link">Комментарии</span>
                        </li>
                        <li class="item js-tabs" data-tab="#similar-article-tab">
                            <span class="count float-right">10</span>
                            <span class="link">Похожие статьи</span>
                        </li>
                    </ul>
                </div>
                <div class="tabs-content">
                    <div id="comments-tab" class="similar-list reviews-block answers">
                        <ul class="reviews list answers-list">
                            <li class="item outline">
                                <div class="answer clearfix">
                                    <div class="img-wrapper float-left">
                                        <img src="./markup/pic/user.jpg" alt="image description" width="60" height="60">
                                    </div>
                                    <div class="text-wrapper information">
                                        <div class="creation-info gray60-color">
                                            <span class="date icon-clock">15 апр 2015 11:25</span>,
                                            <span class="user-name link js-popup-opener clickable" data-popup="#user-info">admin</span>
                                        </div>
                                        <p class="text">
                                            Если вы хотите минимальные расходы, то ни в коем случае не выпиливайте оконные и
                                            дверные проемы после окончательной сборки. Раньше лес был дешевле, народ делал, что
                                            хотел, сейчас подобное может привести к дополнительным тратам. Сначала отметьте, где у
                                            вас будет дверь и окна, выпилите проемы еще на стадии бревен. Целыми можно оставить
                                            каждое третье или четвертое бревно от венца. После сборки окончательно выпилить проем
                                            гораздо проще, а не распиленные бревна будут выполнять связующую роль в сборке.
                                        </p>
                                    </div>
                                </div>
                                <ul class="links">
                                    <li class="links_answer width-141 clearfix">
                                        <a class="button answer is-bordered green-bg js-popup-opener ie-radius" data-popup="#demand-answer-1" href="#">
                                            <span>Ответить</span>
                                            <span class="icon-back float-right"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div id="similar-article-tab" class="similar-list reviews-block g-hidden">
                        <ul class="reviews list">
                            <li class="item outline">
                                <div class="title">
                                    <strong><a href="#" class="link">Автоматика для защиты дома от потопа</a></strong>
                                </div>
                                <p class="text is-gradiented-bottom">Если рассматривать частный пример, то ноутбуки снабжены подобными блоками для подачи
                                    бесперебойного питания всем нам известно, что информация во время скачка напряжения
                                    теряется, что крайне негативно может отразиться на любой работе.</p>
                            </li>
                            <li class="item outline">
                                <div class="title"><strong><a href="#">Автономная канализация и ее преимущества</a></strong></div>
                                <p class="text is-gradiented-bottom">Если рассматривать частный пример, то ноутбуки снабжены подобными блоками для подачи
                                    бесперебойного питания всем нам известно, что информация во время скачка напряжения
                                    теряется, что крайне негативно может отразиться на любой работе.</p>
                            </li>
                            <li class="item outline">
                                <div class="title"><strong><a href="#">Крепеж каркасно-панельных домов</a></strong></div>
                                <p class="text is-gradiented-bottom">Если рассматривать частный пример, то ноутбуки снабжены подобными блоками для подачи
                                    бесперебойного питания всем нам известно, что информация во время скачка напряжения
                                    теряется, что крайне негативно может отразиться на любой работе.</p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="product-right right table-cell">
            <div class="info-wrapper white-bg">

                <div class="questions-block">
                    <h3 class="title">Вопросы</h3>

                    <ul class="questions list">
                        <li class="item">
                            <div class="title"><strong>Хочу камин</strong></div>
                            <p class="text">
                                Ребят, хочу камин. Этим, в принципе, все сказано. Дом свой, без соседей безо всего. Имеется
                            </p>
                            <div class="info">
                                <a href="#" class="author">nicolas</a>,
                                <span class="period">3 недели назад</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="title"><strong>Лепнина из пенопласта для фасадных работ</strong></div>
                            <p class="text">
                                Скажите, а можно использовать лепнину из пенопласта для фасадных работ? Хочу придать более
                            </p>
                            <div class="info">
                                <a href="#" class="author">admin</a>,
                                <span class="period">3 недели назад</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="title"><strong>Выбор толщины магнезитовой плиты</strong></div>
                            <p class="text">
                                А скажите мне, пожалуйста, от чего зависит выбор толщины магнезитовой плиты? Разбег толщины
                            </p>
                            <div class="info">
                                <a href="#" class="author">Николай Чистяков</a>,
                                <span class="period">3 недели назад</span>
                            </div>
                        </li>
                    </ul>
                    <div class="block-links">
                        <a class="add-link link" href="#">Добавить вопрос</a>
                        <a class="all-link link" href="#">Все вопросы</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}



