{#{% extends '@MetalProject/layouts/_private_layout.html.twig' %}#}

{#{% block title 'Услуги' %}#}

{#{% block content %}#}
    {#<div id="content" class="private-room-content content-right outline-right float-right">#}
        {#<div class="private-scrollable content-scrollable js-scrollable">#}
            {#<div class="private-fix-width">#}

                {#{{ block('tabs') }}#}

                {#<div class="content-wrapper">#}
                    {#<table class="services table">#}
                        {#<thead>#}
                        {#<tr class="head-col col">#}
                            {#<th class="service-title head-row row">Услуга</th>#}
                            {#<th class="start-date head-row row">Дата подключения</th>#}
                            {#<th class="end-date head-row row">Дата завершения</th>#}
                        {#</tr>#}
                        {#</thead>#}
                        {#<tbody>#}
                        {#<tr class="current col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Расширенный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Полный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Расширенный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Полный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Расширенный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Полный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Полный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Расширенный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Полный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Расширенный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Полный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Полный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Расширенный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Полный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Расширенный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Полный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Полный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Расширенный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Полный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Расширенный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#<tr class="col">#}
                            {#<td class="service-title row">#}
                                {#<a href="#">Полный пакет</a>#}
                            {#</td>#}
                            {#<td class="start-date row">12 апр 2013</td>#}
                            {#<td class="end-date row">11 мая 2013</td>#}
                        {#</tr>#}
                        {#</tbody>#}
                    {#</table>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% endblock content %}#}

