<div id="user-menu" class="u-menu drop-wrapper opacity-border">
    <ul class="dropdown list">
        {% if company %}
            <li class="company-name first">
                <div class="rating float-right">
                    <span class="star-mini icon-star-colored"></span>
                    <span class="star-mini icon-star-colored"></span>
                    <span class="star-mini icon-star-colored"></span>
                </div>
                <a href="#" class="company-name-link">Стальторг</a>
            </li>
        {% endif %}
        <li class="private-room">
            <a class="link" href="#">Личный кабинет</a>
            <div class="sec-links">
                <a class="link" href="#">прайс-лист,</a>
                <a class="link" href="#">статистика,</a>
                <a class="link" href="#">оплата</a>
            </div>
        </li>
        <li class="drop-item clearfix">
            <strong class="count ie-radius float-right">5</strong>
            <a class="drop-link" href="#">Клиенты ожидают ответа</a>
        </li>
        <li class="drop-item clearfix">
            <strong class="count ie-radius float-right">3</strong>
            <a class="drop-link" href="#">Счета и услуги</a>

        </li>
        <li class="drop-item clearfix">
            <strong class="count ie-radius float-right">1</strong>
            <a class="drop-link" href="#">Отзывы о компании</a>
        </li>
        <li class="drop-item disabled clearfix">
            <strong class="count ie-radius float-right">2</strong>
            <span class="drop-link">Жалобы</span>
        </li>
        <li class="drop-item disabled clearfix">
            <strong class="count ie-radius float-right">8</strong>
            <span class="drop-link">Сообщения от модератора</span>
        </li>
        <li class="quit drop-item">
            <a class="drop-link" href="#">Выход</a>
        </li>
    </ul>
</div>