parameters:
    base_host: metalloprokat-by.dev
    domain_country_id: 19
    minisite_hostnames_pattern: 'metalloprokat-by\.dev'
    project.domains_regex:
        '.*\.?metalloprokat-by\.dev': '.metalloprokat-by.dev'
