{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <a href="http://anonym.to/?{{ object.photoWebPath }}" target="_blank" rel="noopener noreferrer">{{ object.photoWebPath }}</a>
{% endblock %}
