<li class="demand_item">
    <div class="demand_holder clearfix">
            <div class="product-logo is-bordered  float-left" style="width:70px; height:70px;padding: 11px;margin-right: 24px;">
                <span class="pattern-big" style="width:70px; height:70px;">
                    <a href="http://tgwidget.xyz/metalloprokat_ru" target="_blank"><img src="{{ asset('bundles/metalproject/img/metalloprokat/telegr.png') }}" style="width:70px; height:70px;"/> </a>
                </span>
            </div>
            <div class="holder float-left">
                <div class="container top-block clearfix">
                    <div class="product-info float-left">
                        <div class="title">Подпишись на наш телеграм-канал и получай заявки в режиме онлайн!</div>

                    </div>
                </div>
                <a style="width: 170px;" class="button clickable is-bordered blue-bg ie-radius" target="_blank" href="http://tgwidget.xyz/metalloprokat_ru">
                    <span class="text">Подписаться</span>
                    <span class="icon-back float-right"></span>
                </a>
        </div>
    </div>
</li>
