<div class="popup-block opacity-border large">
    <div class="popup-content">
        <div class="title-popup">Вы регистрировались ранее?</div>
        <span class="close-popup icon-popup-close clickable js-popup-closer"></span>

        <p class="text">
            Мы нашли пользователя, зарегистрированного с адресом <strong>{{ email }}</strong>. Теперь мы можем выслать
            вам напоминание пароля на эту электронную почту.
        </p>
    <span class="popup-form_send-button send-button button clickable blue-bg ie-radius js-popup-closer js-popup-opener"
          data-popup="#recover-password" data-email="{{ email }}">Напомнить пароль</span>
    </div>
</div>
