{% extends '@markup/private/services/_services_layout.html.twig' %}
{% block title 'Contract' %}

{% block content %}
    <div id="content" class="private-room-content content-right outline-right float-right">
        {% block tabs %}
            {% set activeTab = 'contract' %}
            {{ parent() }}
        {% endblock tabs %}
        {% block package %}
            {{ parent() }}
        {% endblock package %}
        <div class="content-wrapper">
            <div class="contract ie-radius">
                <div class="js-scrollable">
                    <div class="content">
                        <div class="contract-title">ДОГОВОР</div>
                        <div class="item-title">I. ПРЕДМЕТ ТРУДОВОГО ДОГОВОРА</div>
                        <div class="item">
                            <p>1. Работник принимается на работу на должность Руководитель архитектурного бюро
                                в подразделение Отдел в соответствии с чем и, исходя из условий трудового договора,
                                Работник обязуется выполнять свои должностные обязанности, определенные непосредственным
                                руководителем, а Работодатель обязуется обеспечивать ему необходимые условия для работы,
                                выплачивать заработную плату и предоставлять социально-бытовые льготы в соответствии с
                                законодательством и настоящим договором.
                            </p>
                            <p>2. При осуществлении своих прав и исполнении обязанностей Работник должен действовать в
                                интересах Работодателя. Осуществлять свои права и исполнять трудовые обязанности Работник
                                обязуется добросовестно и рационально.
                            </p>
                        </div>

                        <div class="item-title">II. ОБЩИЕ ПОЛОЖЕНИЯ</div>
                        <div class="item">
                            <p>1. Настоящий договор заключен на неопределенный срок:  начало действия договора
                                –  05 Июля 2010 г.
                            </p>
                            <p>2. Настоящий договор является договором по основной работе.</p>
                            <p>3. В целях проверки соответствия квалификации Работника и его отношения к поручаемой ему
                                работе устанавливается испытательный срок продолжительностью   три  месяца с начала действия
                                настоящего договора.
                            </p>
                        </div>

                        <div class="item-title">III. ПРАВА И ОБЯЗАННОСТИ СТОРОН</div>
                        <div class="item">
                            <p>1.	Работник имеет право:</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="load-contract" href="#">
                <strong>Скачать договор в формате Word (.doc 500 Kb)</strong>
            </a>
        </div>
    </div>
{% endblock content %}
