{% extends '@markup/content/_content_layout.html.twig' %}

{% block content %}
    <div id="content" class="content-wide table-container outline-left">
        <div class="left table-cell">
            <ul class="blogs list clearfix">
                <li class="item float-left">
                    <img src="/markup/pic/blog-img.jpeg" alt="image description">
                    <div class="text-layout">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit orci id quam
                        volutpat, non porttitor libero vulputate. Cras pretium vehicula urna eget molestie.
                    </div>
                </li>
                <li class="item float-left">
                    <img src="/markup/pic/blog-img.jpeg" alt="image description">
                    <div class="text-layout">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit orci id quam
                        volutpat, non porttitor libero vulputate. Cras pretium vehicula urna eget molestie.
                    </div>
                </li>
                <li class="item float-left">
                    <img src="/markup/pic/blog-img.jpeg" alt="image description">
                    <div class="text-layout">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit orci id quam
                        volutpat, non porttitor libero vulputate. Cras pretium vehicula urna eget molestie.
                    </div>
                </li>
                <li class="item float-left">
                    <img src="/markup/pic/blog-img.jpeg" alt="image description">
                    <div class="text-layout">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit orci id quam
                        volutpat, non porttitor libero vulputate. Cras pretium vehicula urna eget molestie.
                    </div>
                </li>
                <li class="item float-left">
                    <img src="/markup/pic/blog-img.jpeg" alt="image description">
                    <div class="text-layout">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit orci id quam
                        volutpat, non porttitor libero vulputate. Cras pretium vehicula urna eget molestie.
                    </div>
                </li>
                <li class="item float-left">
                    <img src="/markup/pic/blog-img.jpeg" alt="image description">
                    <div class="text-layout">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit orci id quam
                        volutpat, non porttitor libero vulputate. Cras pretium vehicula urna eget molestie.
                    </div>
                </li>
                <li class="item float-left">
                    <img src="/markup/pic/blog-img.jpeg" alt="image description">
                    <div class="text-layout">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit orci id quam
                        volutpat, non porttitor libero vulputate. Cras pretium vehicula urna eget molestie.
                    </div>
                </li>
                <li class="item float-left">
                    <img src="/markup/pic/blog-img.jpeg" alt="image description">
                    <div class="text-layout">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit orci id quam
                        volutpat, non porttitor libero vulputate. Cras pretium vehicula urna eget molestie.
                    </div>
                </li>
                <li class="see-more-block-wrapper float-left">
                    <div class="see-more-block">
                        <a class="see-more button ie-radius" href="#">показать еще...</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="product-right right table-cell">
            <div class="info-wrapper white-bg">

                <div class="questions-block">
                    <h3 class="title">Вопросы</h3>

                    <ul class="questions list">
                        <li class="item">
                            <div class="title"><strong>Хочу камин</strong></div>
                            <p class="text">
                                Ребят, хочу камин. Этим, в принципе, все сказано. Дом свой, без соседей безо всего. Имеется
                            </p>
                            <div class="info">
                                <a href="#" class="author">nicolas</a>,
                                <span class="period">3 недели назад</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="title"><strong>Лепнина из пенопласта для фасадных работ</strong></div>
                            <p class="text">
                                Скажите, а можно использовать лепнину из пенопласта для фасадных работ? Хочу придать более
                            </p>
                            <div class="info">
                                <a href="#" class="author">admin</a>,
                                <span class="period">3 недели назад</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="title"><strong>Выбор толщины магнезитовой плиты</strong></div>
                            <p class="text">
                                А скажите мне, пожалуйста, от чего зависит выбор толщины магнезитовой плиты? Разбег толщины
                            </p>
                            <div class="info">
                                <a href="#" class="author">Николай Чистяков</a>,
                                <span class="period">3 недели назад</span>
                            </div>
                        </li>
                    </ul>
                    <div class="block-links">
                        <a class="add-link link" href="#">Добавить вопрос</a>
                        <a class="all-link link" href="#">Все вопросы</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}



