<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <!-- If you delete this meta tag, the ground will open and swallow you. -->
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no">

    <title>Metalloprokat Newsletter</title>

    <style type="text/css">
        @media only screen and (max-width: 672px) {
            table[id=wrapper] {
                width: 100%;
            }
        }
    </style>
</head>

<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#E6E3DF">
    <tr>
        <td>

            <!-- WRAPPER -->
            <table id="wrapper" width="672" align="center" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td valign="top">

                        <!-- HEADER -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#171F26">
                            <tr>
                                <td valign="middle" style="padding: 23px; padding-right: 0; font-family: Arial; color: #FFFFFF; font-size: 24px; font-weight: bold; line-height: 24px;">
                                    <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #FFFFFF; text-decoration: none;">
                                        <img src="./markup/html/mail/path-to-images/logo-metalloprokat.gif" alt="Металлопрокат.ру" title="Металлопрокат.ру" border="0" width="201" height="30" style="vertical-align: top;" />
                                    </a>
                                </td>
                                <td valign="middle" align="right" style="padding: 23px; padding-left: 0; font-family: Arial; color: #A6A39D; font-size: 13px; line-height: 19px;">
                                    19 мая — 02 июня 2013  &bull;  <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #2972A6; text-decoration: none;">www.metalloprokat.ru</a>
                                </td>
                            </tr>
                        </table>
                        <!-- /HEADER -->

                    </td>
                </tr>
                <tr>
                    <td valign="top">

                        <!-- BODY -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
                            <tr>
                                <td valign="top" style="padding: 24px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left" valign="top" style="padding-bottom: 15px; font-family: Arial; color: #171F26; font-size: 24px; line-height: 26px;">
                                                Здравствуйте, Василий Пупкин.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" style="padding-bottom: 15px; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                Посмотрите заявки на покупку по рынку металлопроката за последние 24 часа. <br />
                                                Заявки на покупку арматуры, труб, соротового и фасанного проката.
                                                <a href="#" target="_blank" style="color: #2972A6; font-weight: bold; text-decoration: none;">Настроить</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style=" padding: 0 24px; font-family: Arial; font-weight: bold; font-size: 16px">Сортовой и фасонный прокат</td>
                            </tr>
                            <tr>
                                <td valign="top" style="padding: 24px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left" valign="top" style="padding-bottom: 7px; font-family: Arial; color: #171F26; font-size: 18px; line-height: 21px;">
                                                <b style="color: #E74C3C; font-weight: bold;">№39524</b> Разовая потребность <span style="color: #a6a39d; font-size: 16px;">от 27 апр 2013</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" style="padding-bottom: 12px;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="24" align="left" valign="top" style="padding: 6px 2px 6px 0; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            1
                                                        </td>
                                                        <td width="250" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; font-weight: bold; line-height: 19px;">
                                                            Прокат угловой равнополоч...
                                                        </td>
                                                        <td width="80" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            50 тонн
                                                        </td>
                                                        <td width="280" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #A6A39D; font-size: 13px; line-height: 19px;">
                                                            <span style="color: #27AE60;">Конечный потребитель</span> из Москвы
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="0" valign="top" colspan="3" style="border-top: 1px dashed #e5e3df;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="24" align="left" valign="top" style="padding: 6px 2px 6px 0; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            2
                                                        </td>
                                                        <td width="250" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; font-weight: bold; line-height: 19px;">
                                                            Шестигранник калиброванный
                                                        </td>
                                                        <td width="80" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            10 тонн
                                                        </td>
                                                        <td width="280" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #A6A39D; font-size: 13px; line-height: 19px;">

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="0" valign="top" colspan="3" style="border-top: 1px dashed #e5e3df;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="24" align="left" valign="top" style="padding: 6px 2px 6px 0; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            3
                                                        </td>
                                                        <td width="250" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; font-weight: bold; line-height: 19px;">
                                                            Арматура строительная 16
                                                        </td>
                                                        <td width="80" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                            Камаз
                                                        </td>
                                                        <td width="280" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #A6A39D; font-size: 13px; line-height: 19px;">

                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" style="font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #2972A6; font-weight: bold; text-decoration: none;">Всего 4 позиции</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <!--<td height="1" bgcolor="#F2F0ED" valign="top"></td>-->
                                <td valign="top">
                                    <img src="./markup/html/mail/path-to-images/mail-banner.png" alt="image description" width="672"/>
                                </td>
                            </tr>
                            <td valign="top" style="padding: 24px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="left" valign="top" style="padding-bottom: 7px; font-family: Arial; color: #171F26; font-size: 18px; line-height: 21px;">
                                            <b style="color: #E74C3C; font-weight: bold;">№39524</b> Разовая потребность <span style="color: #a6a39d; font-size: 16px;">от 27 апр 2013</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="top" style="padding-bottom: 12px;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="24" align="left" valign="top" style="padding: 6px 2px 6px 0; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                        1
                                                    </td>
                                                    <td width="250" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; font-weight: bold; line-height: 19px;">
                                                        Прокат угловой равнополоч...
                                                    </td>
                                                    <td width="80" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                        50 тонн
                                                    </td>
                                                    <td width="280" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #A6A39D; font-size: 13px; line-height: 19px;">
                                                        <span style="color: #27AE60;">Конечный потребитель</span> из Москвы
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="0" valign="top" colspan="3" style="border-top: 1px dashed #e5e3df;"></td>
                                                </tr>
                                                <tr>
                                                    <td width="24" align="left" valign="top" style="padding: 6px 2px 6px 0; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                        2
                                                    </td>
                                                    <td width="250" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; font-weight: bold; line-height: 19px;">
                                                        Шестигранник калиброванный
                                                    </td>
                                                    <td width="80" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                        10 тонн
                                                    </td>
                                                    <td width="280" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #A6A39D; font-size: 13px; line-height: 19px;">

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="0" valign="top" colspan="3" style="border-top: 1px dashed #e5e3df;"></td>
                                                </tr>
                                                <tr>
                                                    <td width="24" align="left" valign="top" style="padding: 6px 2px 6px 0; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                        3
                                                    </td>
                                                    <td width="250" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; font-weight: bold; line-height: 19px;">
                                                        Арматура строительная 16
                                                    </td>
                                                    <td width="80" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                                        Камаз
                                                    </td>
                                                    <td width="280" align="left" valign="top" style="padding: 6px 12px; font-family: Arial; color: #A6A39D; font-size: 13px; line-height: 19px;">

                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="top" style="font-family: Arial; color: #171F26; font-size: 13px; line-height: 19px;">
                                            <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #2972A6; font-weight: bold; text-decoration: none;">Всего 4 позиции</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <tr>
                                <td height="50" valign="top"></td>
                            </tr>
                        </table>
                        <!-- /BODY -->

                    </td>
                </tr>
                <tr>
                    <td valign="top">

                        <!-- FOOTER -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#171F26">
                            <tr>
                                <td valign="top" style="padding: 24px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left" valign="top" style="padding-bottom: 20px; font-family: Arial; color: #A6A39D; font-size: 12px; line-height: 19px;">
                                                Если вы не ждали этого письма, <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #FFFFFF; text-decoration: none;">отпишитесь от рассылки</a>.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top" style="font-family: Arial; color: #A6A39D; font-size: 12px; line-height: 19px;">
                                                Металлопрокат.ру &copy; 2000—2013 &ensp; <a href="http://www.metalloprokat.ru/" target="_blank" style="color: #2972A6; text-decoration: none;">Пользовательское соглашение</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="1" bgcolor="#2F363C" valign="top"></td>
                            </tr>
                            <tr>
                                <td valign="top" style="padding: 16px 24px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="1%" align="left" valign="middle" style="padding-right: 15px; font-family: Arial; color: #8A8884; font-size: 12px; line-height: 19px;">
                                                <img src="./markup/html/mail/path-to-images/badge-rspm.gif" alt="РСПМ" title="РСПМ" border="0" width="105" height="47" style="vertical-align: middle;" />
                                            </td>
                                            <td align="left" valign="middle" style="font-family: Arial; color: #8A8884; font-size: 12px; line-height: 19px;">
                                                Действительный член РСПМ
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!-- /FOOTER -->

                    </td>
                </tr>
            </table>
            <!-- /WRAPPER -->

        <td>
    </tr>
</table>

</body>
</html>
