{% extends 'MetalCorpsiteBundle::corp_base_layout.html.twig' %}

{% block title 'С новым 2017 годом! / '~titleSuffix %}

{% block content %}
    <div style="margin-top: 15px">
        <h1>С новым 2017 годом!</h1>
        <iframe src="http://www.metalloprokat.ru/upload/new-year/2017/metprokat_ng2017_6.html" scrolling="no"
                frameborder="no" width="100%" style="min-height: 600px;"></iframe>
    </div>
{% endblock content %}
