<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./markup/css/layouts/layout.css"/>
    <link rel="stylesheet" href="./markup/css/buttons.css"/>
    <link rel="stylesheet" href="./markup/css/color.css"/>
    <link rel="stylesheet" href="./markup/css/style.css"/>
    <link rel="stylesheet" href="./markup/css/style-portal.css"/>
    <title>Landing page</title>
</head>
<body class="landing-page">
    <div class="land-background" style="background-image: url(./markup/pic/bg-land.jpg);">

    </div>
    <div class="land-container">
        <div class="land-text">
            <p class="text">Хотите получать больше заявок по арматуре?</p>
            <p class="land-slog">Загрузите прайс-лист на Металлпрокат.ру</p>
            <div class="button-wrapper">
                <a href="#" class="button send-button green-bg">продолжить</a>
            </div>
        </div>
    </div>
</body>
</html>