<tr>
    <td height="1" bgcolor="#2F363C" valign="top"></td>
</tr>
<tr>
    <td valign="top" style="padding: 16px 24px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td style="font-family: Arial; color: #8A8884; font-size: 12px; line-height: 19px;">
                    <span style="width:70px; height:70px;">
                        <a href="http://tgwidget.xyz/metalloprokat_ru" target="_blank"><img src="{{ email_images_base_url~'/telegr.png' }}" style="width:70px; height:70px;"/> </a>
                    </span></td>
                <td style="font-family: Arial; color: #8A8884; font-size: 12px; line-height: 19px;">
                    <a href="http://tgwidget.xyz/metalloprokat_ru" target="_blank">Подпишись на наш телеграм-канал и получай заявки со всей России в режиме онлайн!</a>
                </td>
            </tr>
            <tr>
                <td width="1%" align="left" valign="middle" style="padding-right: 15px; font-family: Arial; color: #8A8884; font-size: 12px; line-height: 19px;">
                    <img src="{{ email_images_base_url~'/badge-rspm.gif' }}" alt="РСПМ" title="РСПМ" border="0" width="105" height="47" style="vertical-align: middle;" />
                </td>
                <td align="left" valign="middle" style="font-family: Arial; color: #8A8884; font-size: 12px; line-height: 19px;">
                    Действительный член РСПМ
                </td>
            </tr>
        </table>
    </td>
</tr>