{% extends '@markup/content/_content_layout.html.twig' %}

{% block content %}
    <div id="content" class="content-wide table-container outline-left">
        <div class="left table-cell">
            <div class="view-category products questions">
                <h1 class="title icon-clip">Метки</h1>
                <ul class="tags-list clearfix">
                    <li class="item float-left gray60-color"><a class="link" href="#">акриловая ванна</a> (4)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">антенна</a> (9)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">архитектура</a> (15)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">аэратор</a> (4)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">балкон</a> (38)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">бамбук</a> (8)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">баня</a> (58)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">барбекю</a> (14)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">бассейн</a> (24)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">бетон</a> (56)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">бетономешалка</a> (5)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">бордюр</a> (6)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">брус</a> (16)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">буржуйка</a> (6)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">бытовая техника</a> (95)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">бытовка</a> (12)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">вагонка</a> (17)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">ванна</a> (60)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">ванная комната</a> (42)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">вентилятор</a> (11)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">вентиляция</a> (73)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">веранда</a> (12)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">ветрогенератор</a> (4)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">видеонаблюдение</a> (9)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">витражи</a> (6)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">вода</a> (110)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">водонагреватели</a> (23)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">воздух</a> (42)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">вольер</a> (6)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">ворота</a> (22)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">входные двери</a> (10)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">выключатель</a> (23)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">высотные работы</a> (-1)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">вытяжка</a> (18)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">газ</a> (36)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">газовая колонка</a> (7)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">газон</a> (21)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">газонокосилка</a> (9)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">гараж</a> (46)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">гардеробная комната</a> (8)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">генератор</a> (17)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">герметик</a> (10)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">гидроизоляция</a> (32)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">гипсокартон</a> (69)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">гололед</a> (3)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">грибок</a> (7)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">грунт</a> (11)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">дача</a> (242)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">дачная парковка</a> (3)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">дачный участок</a> (87)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">дверной проем</a> (19)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">дверь</a> (100)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">дез</a> (2)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">демонтаж</a> (9)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">дерево</a> (68)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">деревянный дом</a> (37)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">детская площадка</a> (13)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">дизайн интерьера</a> (133)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">доводчик</a> (5)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">дом</a> (316)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">дом из бруса</a> (14)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">дорожка</a> (7)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">дорожки</a> (14)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">дрель</a> (6)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">дренаж</a> (6)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">дрова</a> (10)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">душ</a> (26)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">живая изгородь</a> (11)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">забор</a> (68)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">замена</a> (24)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">замок</a> (24)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">запах</a> (12)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">звукоизоляция</a> (32)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">зеркало</a> (14)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">зима</a> (22)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">интерьер</a> (174)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">кабель</a> (17)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">как выбрать</a> (503)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">как подключить</a> (13)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">как правильно</a> (485)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">как сделать</a> (487)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">как установить</a> (38)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">камин</a> (54)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">каркасный дом</a> (16)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">карниз</a> (7)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">кафель</a> (5)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">кирпич</a> (52)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">ковролин</a> (15)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">колодец</a> (31)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">колонка</a> (4)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">комнатные растения</a> (5)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">кондиционер</a> (58)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">коптильня</a> (5)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">котел</a> (32)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">кран</a> (10)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">краска</a> (77)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">кровать</a> (24)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">крыльцо</a> (12)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">крыша</a> (147)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">лаги</a> (5)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">ламинат</a> (55)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">лампы</a> (18)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">лепнина</a> (13)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">линолеум</a> (36)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">люстра</a> (18)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">мангал</a> (15)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">мансарда</a> (24)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">мебель</a> (157)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">межкомнатные двери</a> (17)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">металлическая дверь</a> (2)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">металлоконструкции</a> (11)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">металлочерепица</a> (12)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">монтаж</a> (119)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">монтажная пена</a> (9)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">монтажные работы</a> (22)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">мотоблок</a> (7)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">навес</a> (12)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">напольные покрытия</a> (29)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">насос</a> (34)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">неисправности</a> (16)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">обледенение</a> (8)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">облицовка</a> (16)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">обогреватель</a> (17)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">обои</a> (100)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">обработка</a> (27)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">объединение комнат</a> (5)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">озеленение</a> (49)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">ондулин</a> (9)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">опалубка</a> (8)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">освещение</a> (71)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">остекление</a> (39)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">отделка</a> (82)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">отделочные материалы</a> (200)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">отзывы</a> (371)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">откосы</a> (6)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">очистка</a> (33)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">панели</a> (22)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">паркет</a> (52)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">парник</a> (5)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">пеноблок</a> (7)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">перепланировка</a> (35)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">перфоратор</a> (1)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">песок</a> (5)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">печь</a> (61)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">пила</a> (15)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">планировка</a> (35)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">планировка бани</a> (7)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">пластиковые окна</a> (43)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">плесень</a> (19)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">плинтус</a> (24)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">плита</a> (21)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">плитка</a> (159)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">Погреб</a> (17)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">подбор мебели</a> (30)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">подвал</a> (29)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">подключение</a> (39)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">покраска</a> (32)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">пол</a> (224)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">полив</a> (9)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">полка</a> (10)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">полотенцесушитель</a> (12)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">посудомоечная машина</a> (6)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">потолок</a> (183)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">потолочная плитка</a> (4)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">потоп</a> (10)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">пристройка</a> (11)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">проводка</a> (23)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">проектирование</a> (15)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">производство</a> (8)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">промышленный альпинизм</a> (-2)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">профнастил</a> (18)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">пруд</a> (20)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">пылесосы</a> (7)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">радиаторы</a> (29)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">раковина</a> (12)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">рассада</a> (11)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">регулировка</a> (7)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">ремонт</a> (272)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">ремонтные работы</a> (61)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">реставрация</a> (20)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">решетка</a> (6)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">розетка</a> (17)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">сайдинг</a> (13)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">сантехника</a> (20)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">санузел</a> (13)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">сарай</a> (10)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">сборка</a> (4)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">сварка</a> (15)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">сварочный аппарат</a> (16)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">светильники</a> (11)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">своими руками</a> (832)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">септик</a> (13)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">сигнализация</a> (15)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">скважина</a> (22)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">сколько стоит</a> (27)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">смеситель</a> (16)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">снег</a> (2)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">сруб</a> (10)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">стекло</a> (44)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">стены</a> (133)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">стиральная машина</a> (22)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">столешница</a> (11)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">строительные леса</a> (6)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">строительные материалы</a> (90)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">строительство</a> (418)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">стройматериалы</a> (72)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">стяжка</a> (40)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">счетчик</a> (15)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">счетчики воды</a> (7)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">теплица</a> (18)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">тепло</a> (52)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">теплый пол</a> (67)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">терраса</a> (12)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">технология</a> (220)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">трубы</a> (90)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">туалет</a> (15)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">уборка снега</a> (19)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">укладка</a> (50)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">украшения</a> (33)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">унитаз</a> (29)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">урны</a> (1)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">установка</a> (186)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">утепление</a> (223)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">фасад</a> (60)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">фильтр</a> (14)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">фонтан</a> (7)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">холодильник</a> (22)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">цемент</a> (10)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">цены</a> (11)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">чердак</a> (10)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">чугунная ванна</a> (3)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">шифер</a> (11)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">шкафы-купе</a> (10)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">шланг</a> (3)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">шпатлевка</a> (13)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">шторы</a> (34)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">штукатурка</a> (53)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">шумоизоляция</a> (8)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">шуруповерт</a> (6)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">щитовой дом</a> (7)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">электричество</a> (65)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">электропроводка</a> (52)</li>
                    <li class="item float-left gray60-color"><a class="link" href="#">электросчетчик</a> (9)</li>
                </ul>

            </div>
        </div>
        <div class="product-right right table-cell">
            <div class="info-wrapper white-bg">

                <div class="questions-block">
                    <h3 class="title">Вопросы</h3>

                    <ul class="questions list">
                        <li class="item">
                            <div class="title"><strong>Хочу камин</strong></div>
                            <p class="text">
                                Ребят, хочу камин. Этим, в принципе, все сказано. Дом свой, без соседей безо всего. Имеется
                            </p>
                            <div class="info">
                                <a href="#" class="author">nicolas</a>,
                                <span class="period">3 недели назад</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="title"><strong>Лепнина из пенопласта для фасадных работ</strong></div>
                            <p class="text">
                                Скажите, а можно использовать лепнину из пенопласта для фасадных работ? Хочу придать более
                            </p>
                            <div class="info">
                                <a href="#" class="author">admin</a>,
                                <span class="period">3 недели назад</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="title"><strong>Выбор толщины магнезитовой плиты</strong></div>
                            <p class="text">
                                А скажите мне, пожалуйста, от чего зависит выбор толщины магнезитовой плиты? Разбег толщины
                            </p>
                            <div class="info">
                                <a href="#" class="author">Николай Чистяков</a>,
                                <span class="period">3 недели назад</span>
                            </div>
                        </li>
                    </ul>
                    <div class="block-links">
                        <a class="add-link link" href="#">Добавить вопрос</a>
                        <a class="all-link link" href="#">Все вопросы</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}



