{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <ul>
        <li><a href="{{ path('admin_metal_territorial_region_list' , {'filter' :  {'country' : {'value' : object.id}}}) }}">Области</a></li>
        <li><a href="{{ path('admin_metal_territorial_city_list', {'filter' :  {'country' : {'value' : object.id}}}) }}">Города</a></li>
    </ul>
{% endblock %}