{% extends 'MetalProjectBundle:Wizzard:landing_page.html.twig' %}

{% block button %}
    <a href="{{ path('MetalUsersBundle:Registration:register') }}" class="button send-button green-bg" rel="nofollow">продолжить</a>
{% endblock button %}