{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject 'БАННЕР В ПОДАРОК на Metalloprokat.ru' %}

{% block body_text %}
ПРИ ПОДКЛЮЧЕНИИ ПОЛНОГО ДОСТУПА
НА ПОЛГОДА - 1мес. ЦЕНТРАЛЬНЫЙ БАННЕР В РАЗДЕЛЕ "ПОТРЕБИТЕЛИ" В ПОДАРОК!
НА ГОД - 3 мес. ЦЕНТРАЛЬНЫЙ БАННЕР В РАЗДЕЛЕ "ПОТРЕБИТЕЛИ" В ПОДАРОК!


СРОКИ АКЦИИ: до 31.08.2017 включительно

ПОДКЛЮЧЕНИЕ СЕРВИСОВ ПОСЛЕ ОПЛАТЫ ВОЗМОЖНО ПО ДОГОВОРЕННОСТИ С ЛЮБОЙ ЖЕЛАЕМОЙ ДАТЫ
{% endblock body_text %}

{% block text_part_body %}
    <p style="font-size: 12;">
        ПРИ ПОДКЛЮЧЕНИИ ПОЛНОГО ДОСТУПА<br/>
        НА ПОЛГОДА - 1мес. ЦЕНТРАЛЬНЫЙ БАННЕР В РАЗДЕЛЕ "ПОТРЕБИТЕЛИ" В ПОДАРОК!<br/>
        НА ГОД - 3 мес. ЦЕНТРАЛЬНЫЙ БАННЕР В РАЗДЕЛЕ "ПОТРЕБИТЕЛИ" В ПОДАРОК!<br/><br/>

        СРОКИ АКЦИИ: до 31.08.2017 включительно<br/>

        ПОДКЛЮЧЕНИЕ СЕРВИСОВ ПОСЛЕ ОПЛАТЫ ВОЗМОЖНО ПО ДОГОВОРЕННОСТИ С ЛЮБОЙ ЖЕЛАЕМОЙ ДАТЫ
    </p>
{% endblock text_part_body %}
