{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}На Металлопрокат.ру Черная  Пятница продолжается  до 30.11.2018!{% endblock subject %}

{% block body_text -%}
Уважаемые наши партнеры!

    Черная Пятница продолжается: скидки для тех, кто не пользовался услугами metalloprokat.ru

        На 1 год - Расширенный 42 700 руб. вместо 61 000 руб. или Полный 51 800 руб. вместо 74 000 руб.

        На 6 мес - Расширенный 31 200 руб. вместо 39 000 руб. или Полный 37 600 руб. вместо 47 000 руб.

        На 3 мес - Расширенный 21 600 руб. вместо 24 000 руб. или Полный 25 200 руб. вместо 28 000 руб.



ПОДКЛЮЧЕНИЕ СЕРВИСОВ ПОСЛЕ ОПЛАТЫ ВОЗМОЖНО ПО ДОГОВОРЕННОСТИ С ЛЮБОЙ ЖЕЛАЕМОЙ ДАТЫ

Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: https://corp.metalloprokat.ru/services/

или по телефону +7 (495) 268-02-85

{{ block('text_footer') }}
{%- endblock %}

{% block text_part_body %}
    <p>Уважаемые наши партнеры!</p>
    <p>Черная Пятница продолжается: скидки для тех, кто не пользовался услугами metalloprokat.ru</p>
    <p>
        На 1 год - Расширенный <strike style="color: red;">61 000 руб.</strike> <b style="color: green; font-size: 14px;">42 700 руб.</b> или Полный <strike style="color: red">74 000 руб.</strike> <b style="color: green; font-size: 14px;">51 800 руб.</b>
    </p>
    <p>
        На 6 мес - Расширенный <strike style="color: red;">39 000 руб.</strike> <b style="color: green; font-size: 14px;">31 200 руб.</b> или Полный <strike style="color: red">47 000 руб.</strike> <b style="color: green; font-size: 14px;">37 600 руб.</b>
    </p>
    <p>
        На 3 мес - Расширенный <strike style="color: red;">24 000 руб.</strike> <b style="color: green; font-size: 14px;">21 600 руб.</b> или Полный <strike style="color: red">28 000 руб.</strike> <b style="color: green; font-size: 14px;">25 200 руб.</b>
    </p>

    <p>ПОДКЛЮЧЕНИЕ СЕРВИСОВ ПОСЛЕ ОПЛАТЫ ВОЗМОЖНО ПО ДОГОВОРЕННОСТИ С ЛЮБОЙ ЖЕЛАЕМОЙ ДАТЫ</p>
    <p>Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: <a href="https://corp.metalloprokat.ru/services/">corp.metalloprokat.ru/services</a></p>
    <p>или по телефону +7 (495) 268-02-85</p>
    <br/>
    <p>С уважением, <a href="http://www.{{ user.country.baseHost }}">{{ user.country.domainTitle }}</a></p>
{% endblock %}
