{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}Подключите ДОСТУП до 31.01.2018 - получите БАННЕР БЕСПЛАТНО!{% endblock subject %}

{% block body_text -%}
Уважаемые Господа,

До 31.01.2018г. подключите Расширенный или Полный доступ к порталу Metalloprokat.ru на полгода или год и получите баннер в разделе «Потребители» БЕСПЛАТНО:

Подключите доступ на полгода – Расширенный за 39 000 руб. или Полный за 47 000 руб. и
разместите любой из свободных Центральных баннеров в разделе «Потребители» размером 735х80 на 1 мес. БЕСПЛАТНО!

Подключите доступ на год – Расширенный за 61 000 руб. или Полный за 74 000 руб. и
разместите любой из свободных Центральных баннеров в разделе «Потребители» размером 735х80 на 2 мес. БЕСПЛАТНО!

Изготовление баннера БЕСПЛАТНО!

Со свободными баннерными местами в разделе «Потребители» можно ознакомиться здесь: http://corp.metalloprokat.ru/media/

Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: http://corp.metalloprokat.ru/services/

или по телефону +7 (495) 268-02-85

{{ block('text_footer') }}
{%- endblock %}

{% block text_part_body %}
    <p>Уважаемые Господа,</p>
    <p>До 31.01.2018г. подключите Расширенный или Полный доступ к порталу Metalloprokat.ru на полгода или год и получите баннер в разделе «Потребители» БЕСПЛАТНО:</p>
    <p>
        Подключите доступ на полгода – Расширенный за 39 000 руб. или Полный за 47 000 руб. и
        разместите любой из свободных Центральных баннеров в разделе «Потребители» размером 735х80 на 1 мес. БЕСПЛАТНО!
    </p>
    <p>
        Подключите доступ на год – Расширенный за 61 000 руб. или Полный за 74 000 руб. и
        разместите любой из свободных Центральных баннеров в разделе «Потребители» размером 735х80 на 2 мес. БЕСПЛАТНО!
    </p>
    <p>Изготовление баннера БЕСПЛАТНО!</p>
    <p>Со свободными баннерными местами в разделе «Потребители» можно ознакомиться здесь: <a href="http://corp.metalloprokat.ru/media/">corp.metalloprokat.ru/media</a></p>
    <p>Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: <a href="http://corp.metalloprokat.ru/services/">corp.metalloprokat.ru/services</a></p>
    <p>или по телефону +7 (495) 268-02-85</p>
    <br/>
    <p>С уважением,</p>
    <p><a href="http://www.{{ user.country.baseHost }}">{{ user.country.domainTitle }}</a></p>
{% endblock %}
