{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}Только до 30.11.2017 Расширенный или Полный доступ с 50% скидкой!{% endblock subject %}

{% block body_text -%}
Уважаемые наши партнеры!

Для нас не бывает «бывших» друзей! Поэтому специально для Вас мы предлагаем возобновить Расширенный или Полный доступ на год на специальных условиях:
Расширенный 30 500 руб. вместо 61 000 руб. или Полный 37 000 руб. вместо 74 000 руб.

Предложения – Вы даете возможность вашим потенциальным клиентам найти вас по любой позиции вашего прайс-листа на нашем портале и в поисковых системах. Вы имеете возможность закачать фото к позициям и они будут показываться в основных разделах портала. При авторизации Ваши позиции в разделе "Предложения" так же будут подниматься на первое место.

Потребители – Вы увеличиваете количество ваших клиентов, работая с ежедневно обновляемой базой заявок от потребителей металла «Потребители».

Вы получаете персональный сайт с коротким адресом, возможность перемещения визитной карточки вашей компании в списке на первое место.

- Вы сможете размещать неограниченное кол-во объявлений и к ним загружать фото, а также указать время поднятия 3 (расширенный доступ) или 5 (полный доступ) объявлений

СРОКИ АКЦИИ: до 30.11.2017 включительно

ПОДКЛЮЧЕНИЕ СЕРВИСОВ ПОСЛЕ ОПЛАТЫ ВОЗМОЖНО ПО ДОГОВОРЕННОСТИ С ЛЮБОЙ ЖЕЛАЕМОЙ ДАТЫ

Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: http://corp.metalloprokat.ru/services/

или по телефону +7 (495) 268-02-85

{{ block('text_footer') }}
{%- endblock %}

{% block text_part_body %}
    <p>Уважаемые наши партнеры!</p>
    <p>Для нас не бывает «бывших» друзей! Поэтому специально для Вас мы предлагаем возобновить Расширенный или Полный доступ на год на специальных условиях:</p>
    <p>
        Расширенный <strike style="color: red;">61 000 руб.</strike> <b style="color: green; font-size: 14px;">30 500 руб.</b> или Полный <strike style="color: red">74 000 руб.</strike> <b style="color: green; font-size: 14px;">37 000 руб.</b>
    </p>
    <p>
        Предложения – Вы даете возможность вашим потенциальным клиентам найти вас по любой позиции вашего прайс-листа на нашем портале и в поисковых системах. Вы имеете возможность закачать фото к позициям и они будут показываться в основных разделах портала. При авторизации Ваши позиции в разделе "Предложения" так же будут подниматься на первое место.
    </p>
    <p>
        Потребители – Вы увеличиваете количество ваших клиентов, работая с ежедневно обновляемой базой заявок от потребителей металла «Потребители».
    </p>
    <p>
        Вы получаете персональный сайт с коротким адресом, возможность перемещения визитной карточки вашей компании в списке на первое место.
    </p>
    <p>
        Вы сможете размещать неограниченное кол-во объявлений и к ним загружать фото, а также указать время поднятия 3 (расширенный доступ) или 5 (полный доступ) объявлений
    </p>
    <p>СРОКИ АКЦИИ: до 30.11.2017 включительно</p>
    <p>ПОДКЛЮЧЕНИЕ СЕРВИСОВ ПОСЛЕ ОПЛАТЫ ВОЗМОЖНО ПО ДОГОВОРЕННОСТИ С ЛЮБОЙ ЖЕЛАЕМОЙ ДАТЫ</p>
    <p>Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: <a href="http://corp.metalloprokat.ru/services/">corp.metalloprokat.ru/services</a></p>
    <p>или по телефону +7 (495) 268-02-85</p>
    <br/>
    <p>С уважением, <a href="http://www.{{ user.country.baseHost }}">{{ user.country.domainTitle }}</a></p>
{% endblock %}
