{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %} Акция Metalloprokat.ru с 39% скидкой на весь прайс заканчивается! Успейте до 31.01.2019г!{% endblock subject %}

{% block body_text -%}
Уважаемые наши партнеры!

    Успейте до 31.01.2019г. подключить доступ к заявкам и размещению на портале Metalloprokat.ru с 39% скидкой на весь прайс

    Новогодняя Акция 2019 года: "20+19" = 39% скидка на весь прайс услуг (кроме подключения на 1 месяц) и баннерную рекламу для тех, кто не пользовался услугами metalloprokat.ru:

        На 1 год - Расширенный 37 210 руб. вместо 61 000 руб. или Полный 45 140 руб. вместо 74 000 руб.

        На 6 мес - Расширенный 23 790 руб. вместо 39 000 руб. или Полный 28 670 руб. вместо 47 000 руб.

        На 3 мес - Расширенный 14 640 руб. вместо 24 000 руб. или Полный 17 080 руб. вместо 28 000 руб.



ПОДКЛЮЧЕНИЕ СЕРВИСОВ ПОСЛЕ ОПЛАТЫ ВОЗМОЖНО ПО ДОГОВОРЕННОСТИ С ЛЮБОЙ ЖЕЛАЕМОЙ ДАТЫ

Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: https://corp.metalloprokat.ru/services/

С ценами на баннерную рекламу Вы можете ознакомиться здесь: https://corp.metalloprokat.ru/media/

или по телефону +7 (495) 268-02-85

    * кроме подключения на 1 месяц

{{ block('text_footer') }}
{%- endblock %}

{% block text_part_body %}
    <p>Уважаемые наши партнеры!</p>
    <p>Успейте до 31.01.2019г. подключить доступ к заявкам и размещению на портале Metalloprokat.ru с 39% скидкой на весь прайс</p>
    <p>Новогодняя Акция 2019 года: "20+19" = 39% скидка на весь прайс услуг (кроме подключения на 1 месяц) и баннерную рекламу для тех, кто не пользовался услугами metalloprokat.ru:</p>
    <p>
        На 1 год - Расширенный <strike style="color: red;">61 000 руб.</strike> <b style="color: green; font-size: 14px;">37 210 руб.</b> или Полный <strike style="color: red">74 000 руб.</strike> <b style="color: green; font-size: 14px;">45 140 руб.</b>
    </p>
    <p>
        На 6 мес - Расширенный <strike style="color: red;">39 000 руб.</strike> <b style="color: green; font-size: 14px;">23 790 руб.</b> или Полный <strike style="color: red">47 000 руб.</strike> <b style="color: green; font-size: 14px;">28 670 руб.</b>
    </p>
    <p>
        На 3 мес - Расширенный <strike style="color: red;">24 000 руб.</strike> <b style="color: green; font-size: 14px;">14 640 руб.</b> или Полный <strike style="color: red">28 000 руб.</strike> <b style="color: green; font-size: 14px;">17 080 руб.</b>
    </p>

    <p>ПОДКЛЮЧЕНИЕ СЕРВИСОВ ПОСЛЕ ОПЛАТЫ ВОЗМОЖНО ПО ДОГОВОРЕННОСТИ С ЛЮБОЙ ЖЕЛАЕМОЙ ДАТЫ</p>
    <p>Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: <a href="https://corp.metalloprokat.ru/services/">corp.metalloprokat.ru/services</a></p>
    <p>С ценами на баннерную рекламу Вы можете ознакомиться <a href="https://corp.metalloprokat.ru/media/">здесь</a></p>
    <p>или по телефону +7 (495) 268-02-85</p>
    <p>* кроме подключения на 1 месяц</p>
    <br/>
    <p>С уважением, <a href="http://www.{{ user.country.baseHost }}">{{ user.country.domainTitle }}</a></p>
{% endblock %}
