{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}Подарок от Metalloprokat.ru внутри письма{% endblock subject %}

{% block body_text -%}
Уважаемые наши клиенты, подключившие Полный доступ к порталу!
Если ваш прайс содержит строительный сортамент, предлагаем в виде бонуса разместить их на портале Stroy.ru до конца срока действия Полного доступа.

По любым вопросам пишите: http://corp.metalloprokat.ru/contacts/

или звоните:

+7 495 268-02-85

{{ block('text_footer') }}
{%- endblock body_text %}

{% block text_part_body %}
    <p style="font-size: 12;">
    <p>Уважаемые наши клиенты, подключившие Полный доступ к порталу!</p>
    <p>Если ваш прайс содержит строительный сортамент, предлагаем в виде бонуса разместить их на портале Stroy.ru до конца срока действия Полного доступа.</p>
    <p>По любым вопросам пишите: <a href="http://corp.metalloprokat.ru/contacts/">corp.metalloprokat.ru/contacts</a></p>
    <p>или звоните:</p>
    <p>+7 495 268-02-85</p>
    <br/>
    <p>С уважением,</p>
    <p><a href="http://www.{{ user.country.baseHost }}">{{ user.country.domainTitle }}</a></p>
    </p>
{% endblock text_part_body %}
