{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}Не майся-подключайся!{% endblock subject %}

{% block body_text -%}
    Уважаемые поставщики металла и металлопродукции!

    Подключите полгода Расширенного - 39000 руб. или Полного - 47000 руб. доступа к услугам портала Metalloprokat.ru и пользуйтесь услугами до января 2019 года!

    Предложение действительно до 31 мая 2018
    
    Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: http://corp.metalloprokat.ru/services/

    или по телефону +7 (495) 268-02-85

    {{ block('text_footer') }}
{%- endblock %}

{% block text_part_body %}
    <p>Уважаемые поставщики металла и металлопродукции!</p>
    <p>Подключите полгода Расширенного доступа за <b style="color: green; font-size: 14px;">39 000 руб.</b> и получите к нему бонус - квартал (стоимостью 24 000 руб) или Полного доступа за <b style="color: green; font-size: 14px;">47 000 руб.</b> и получите к нему бонус - квартал (стоимостью 28 000 руб.) и ПОЛЬЗУЙТЕСЬ УСЛУГАМИ ДО 31 ЯНВАРЯ 2019 ГОДА!</p>

    <p>Предложение действительно до 31 мая 2018</p>
    <p>Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: <a href="http://corp.metalloprokat.ru/services/">corp.metalloprokat.ru/services</a></p>
    <p>или по телефону +7 (495) 268-02-85</p>
    <br/>
    <p>С уважением, <a href="http://www.{{ user.country.baseHost }}">{{ user.country.domainTitle }}</a></p>
{% endblock %}
