{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}Скидка 50% на подключение до 31.03.2018 на Металлопрокат.ру{% endblock subject %}

{% block body_text -%}
    Уважаемые наши партнеры!

    Для нас не бывает «бывших» друзей! Поэтому специально для Вас мы предлагаем возобновить Расширенный или Полный доступ на год, полгода или квартал на специальных условиях:
    Расширенный на год - 30 500 руб. вместо 61000 руб. или Полный на год 37 000 руб. вместо 74000 руб.
    Расширенный на полгода - 19 500 руб. вместо 39 000 руб. или Полный на полгода 23 500 руб. вместо 47 000 руб.
    Расширенный на квартал - 12 000 руб. вместо 24 000 руб. или Полный на квартал 14 000 руб. вместо 28 000 руб.

    СРОКИ АКЦИИ: до 31.03.2018 включительно

    ПОДКЛЮЧЕНИЕ СЕРВИСОВ ПОСЛЕ ОПЛАТЫ ВОЗМОЖНО ПО ДОГОВОРЕННОСТИ С ЛЮБОЙ ЖЕЛАЕМОЙ ДАТЫ

    Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: https://corp.metalloprokat.ru/services/

    или по телефону +7 (495) 268-02-85

    {{ block('text_footer') }}
{%- endblock %}

{% block text_part_body %}
    <p>Уважаемые наши партнеры!</p>
    <p>Для нас не бывает «бывших» друзей! Поэтому специально для Вас мы предлагаем возобновить Расширенный или Полный доступ на год, полгода или квартал на специальных условиях:</p>
    <p>
        Год: Расширенный <b style="color: green; font-size: 14px;">30 500 руб.</b> <strike style="color: red;">61 000 руб.</strike> или Полный <b style="color: green; font-size: 14px;">37 000 руб.</b> <strike style="color: red">74 000 руб.</strike>
    </p>
    <p>
        Полгода: Расширенный <b style="color: green; font-size: 14px;">19 500 руб.</b> <strike style="color: red;">39 000 руб.</strike> или Полный <b style="color: green; font-size: 14px;">23 500 руб.</b> <strike style="color: red">47 000 руб.</strike>
    </p>
    <p>
        Квартал: Расширенный <b style="color: green; font-size: 14px;">12 000 руб.</b> <strike style="color: red;">24 000 руб.</strike> или Полный <b style="color: green; font-size: 14px;">14 000 руб.</b> <strike style="color: red">28 000 руб.</strike>
    </p>

    <p>СРОКИ АКЦИИ: до 31.03.2018 включительно</p>
    <p>ПОДКЛЮЧЕНИЕ СЕРВИСОВ ПОСЛЕ ОПЛАТЫ ВОЗМОЖНО ПО ДОГОВОРЕННОСТИ С ЛЮБОЙ ЖЕЛАЕМОЙ ДАТЫ</p>
    <p>Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: <a href="http://corp.metalloprokat.ru/services/">corp.metalloprokat.ru/services</a></p>
    <p>или по телефону +7 (495) 268-02-85</p>
    <br/>
    <p>С уважением, <a href="http://www.{{ user.country.baseHost }}">{{ user.country.domainTitle }}</a></p>

    {% if hashKey is defined %}
        <img src="{{- url('MetalNewsletterBundle:NewsletterViewer:track', {
            'hashKey': hashKey
        } ) -}}" />
    {% endif %}
{% endblock %}
