{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}ПОДАРКИ на НОВЫЙ ГОД от Металлопрокат.ру{% endblock subject %}

{% block body_text -%}
Уважаемые наши партнеры!

    Предлагаем Вам несколько вариантов подключения доступа к порталу metalloprokat.ru: http://www.metalloprokat.ru/ на условиях НОВОГОДНЕЙ АКЦИИ:

    1) На 1 месяц Расширенный доступ за 10 000 руб. или Полный за 12 000 рублей
    2) На квартал Расширенный доступ за 24 000 руб. или Полный за 28 000 рублей + 1 месяц бонус
    3) На полгода Расширенный доступ за 39 000 руб. или Полный за 47 000 рублей + 2 месяца бонус
    4) На год Расширенный доступ за 61 000 руб. или Полный за 74 000 рублей + 3месяца бонус

Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: https://corp.metalloprokat.ru/services/

или по телефону +7 (495) 268-02-85

{{ block('text_footer') }}
{%- endblock %}

{% block text_part_body %}
    <p>Уважаемые наши партнеры!</p>
    <p>Предлагаем Вам несколько вариантов подключения доступа к порталу <a href="https://www.metalloprokat.ru">https://www.metalloprokat.ru/</a> на условиях НОВОГОДНЕЙ АКЦИИ:</p>
    <p>
        1) На 1 месяц Расширенный доступ за 10 000 руб. или Полный за 12 000 рублей<br/>
        2) На квартал Расширенный доступ за 24 000 руб. или Полный за 28 000 рублей + <span style="color: red;">1 месяц бонус</span><br/>
        3) На полгода Расширенный доступ за 39 000 руб. или Полный за 47 000 рублей + <span style="color: red;">2 месяца бонус</span><br/>
        4) На год Расширенный доступ за 61 000 руб. или Полный за 74 000 рублей + <span style="color: red;">3месяца бонус</span>

    </p>

    <p>Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: <a href="https://corp.metalloprokat.ru/services/">corp.metalloprokat.ru/services</a></p>
    <p>или по телефону +7 (495) 268-02-85</p>
    <br/>
    <p>С уважением, <a href="http://www.{{ user.country.baseHost }}">{{ user.country.domainTitle }}</a></p>

    {% if hashKey is defined %}
        <img src="{{- url('MetalNewsletterBundle:NewsletterViewer:track', {
            'hashKey': hashKey
        } ) -}}" />
    {% endif %}
{% endblock %}
