{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}Успейте разместить баннер Премиум по старой стоимости на Metalloprokat.ru !{% endblock subject %}

{% block body_text -%}
Уважаемые наши партнеры!
С 01.01.2017 года размещение баннера Премиум на 1 месяц будет составлять 20 000 рублей.
Предлагаем Вам разместить баннер по старой стоимости. Преимущества баннера Премиум:
--- большой размер баннера (960х90)
--- сквозное размещение по всему порталу
--- баннер виден в первом экране
--- стоимость размещения на 1 мес. – 15 000 руб.

Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: http://corp.metalloprokat.ru/services/

или по телефону +7 (495) 268-02-85

{{ block('text_footer') }}
{%- endblock %}

{% block text_part_body %}
    <p>Уважаемые наши партнеры!</p>
    <p>С 01.01.2017 года размещение баннера Премиум на 1 месяц будет составлять 20 000 рублей.</p>
    <p>
        Предлагаем Вам разместить баннер по старой стоимости. Преимущества баннера Премиум:
    </p>
    <p>
        --- большой размер баннера (960х90)
    </p>
    <p>
        --- сквозное размещение по всему порталу
    </p>
    <p>
        --- баннер виден в первом экране
    </p>
    <p>
        --- стоимость размещения на 1 мес. – 15 000 руб.
    </p>
    <p>Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: <a href="http://corp.metalloprokat.ru/services/">corp.metalloprokat.ru/services</a></p>
    <p>или по телефону +7 (495) 268-02-85</p>
    <br/>
    <p>С уважением, <a href="http://www.{{ user.country.baseHost }}">{{ user.country.domainTitle }}</a></p>
{% endblock %}
