{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}METALLOPROKAT.RU: "ВОЗЬМИ БАННЕР И ЕЗЖАЙ В ОТПУСК!"{% endblock subject %}

{% block body_text -%}
    Уважаемые наши партнеры!

    Подключи полгода Расширенного (39 000 руб.) или Полного (47 000 руб.) доступа и получи баннер в разделе "Поставщики" (Центральный-3, 4, 5, 6 или 7, размер 735х80 пикселей) В ПОДАРОК!
    Подключи год Расширенного (61 000 руб.) или Полного (74 000 руб.) доступа и получи баннер в разделе "Поставщики"  (Центральный-3, 4, 5, 6 или 7, размер 735х80 пикселей) В ПОДАРОК!

    СРОКИ АКЦИИ: до 30.06.2018 включительно

    ПОДКЛЮЧЕНИЕ СЕРВИСОВ ПОСЛЕ ОПЛАТЫ ВОЗМОЖНО ПО ДОГОВОРЕННОСТИ С ЛЮБОЙ ЖЕЛАЕМОЙ ДАТЫ

    Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: https://corp.metalloprokat.ru/services/

    или по телефону +7 (495) 268-02-85

    {{ block('text_footer') }}
{%- endblock %}

{% block text_part_body %}
    <p>Уважаемые наши партнеры!</p>

    <p>Подключи полгода Расширенного (<b style="color: green; font-size: 14px;">39 000 руб.</b>) или Полного (<b style="color: green; font-size: 14px;">47 000 руб.</b>) доступа и получи <b>баннер в разделе "Потребители"</b> (Центральный-3, 4, 5, 6 или 7, размер 735х80 пикселей) В ПОДАРОК!
    <p>Подключи год Расширенного (<b style="color: green; font-size: 14px;">61 000 руб.</b>) или Полного (<b style="color: green; font-size: 14px;">74 000 руб.</b>) доступа и получи <b>баннер в разделе "Поставщики"</b>  (Центральный-3, 4, 5, 6 или 7, размер 735х80 пикселей) В ПОДАРОК!

    <p>СРОКИ АКЦИИ: до 30.06.2018 включительно</p>
    <p>ПОДКЛЮЧЕНИЕ СЕРВИСОВ ПОСЛЕ ОПЛАТЫ ВОЗМОЖНО ПО ДОГОВОРЕННОСТИ С ЛЮБОЙ ЖЕЛАЕМОЙ ДАТЫ</p>
    <p>Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: <a href="http://corp.metalloprokat.ru/services/">corp.metalloprokat.ru/services</a></p>
    <p>или по телефону +7 (495) 268-02-85</p>
    <br/>
    <p>С уважением, <a href="http://www.{{ user.country.baseHost }}">{{ user.country.domainTitle }}</a></p>

    {% if hashKey is defined %}
        <img src="{{- url('MetalNewsletterBundle:NewsletterViewer:track', {
            'hashKey': hashKey
        } ) -}}" />
    {% endif %}
{% endblock %}
