{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}Предлагаем расширить клиентскую базу со скидками на любой срок.{% endblock subject %}

{% block body_text -%}
Уважаемые наши партнеры!

Предлагаем расширить клиентскую базу со скидками на любой срок.
3 мес - 10%: Расширенный - 21 600 руб., Полный - 25 200 руб.
6 мес. - 20%: Расширенный - 31 200 руб., Полный - 37 600 руб.
12 мес. - 30%: Расширенный - 42 700 руб., Полный - 51 800 руб.

Предложения – Вы даете возможность вашим потенциальным клиентам найти вас по любой позиции вашего прайс-листа на нашем портале и в поисковых системах. Вы имеете возможность закачать фото к позициям и они будут показываться в основных разделах портала. При авторизации Ваши позиции в разделе "Предложения" так же будут подниматься на первое место.

Потребители – Вы увеличиваете количество ваших клиентов, работая с ежедневно обновляемой базой заявок от потребителей металла «Потребители».

Вы получаете персональный сайт с коротким адресом, возможность перемещения визитной карточки вашей компании в списке на первое место.

- Вы сможете размещать неограниченное кол-во объявлений и к ним загружать фото, а также указать время поднятия 3 (расширенный доступ) или 5 (полный доступ) объявлений

СРОКИ АКЦИИ: до 10.05.2017 включительно

ПОДКЛЮЧЕНИЕ СЕРВИСОВ ПОСЛЕ ОПЛАТЫ ВОЗМОЖНО ПО ДОГОВОРЕННОСТИ С ЛЮБОЙ ЖЕЛАЕМОЙ ДАТЫ

Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: http://corp.metalloprokat.ru/services/

или по телефону +7 (495) 268-02-85

{{ block('text_footer') }}
{%- endblock %}

{% block text_part_body %}
    <p>Уважаемые наши партнеры!</p>
    <p>Предлагаем расширить клиентскую базу со скидками на любой срок.</p>
    <p>3 мес - 10%: Расширенный - 21 600 руб., Полный - 25 200 руб.</p>
    <p>6 мес. - 20%: Расширенный - 31 200 руб., Полный - 37 600 руб.</p>
    <p>12 мес. - 30%: Расширенный - 42 700 руб., Полный - 51 800 руб.</p>
    <p>
        Предложения – Вы даете возможность вашим потенциальным клиентам найти вас по любой позиции вашего прайс-листа на нашем портале и в поисковых системах. Вы имеете возможность закачать фото к позициям и они будут показываться в основных разделах портала. При авторизации Ваши позиции в разделе "Предложения" так же будут подниматься на первое место.
    </p>
    <p>
        Потребители – Вы увеличиваете количество ваших клиентов, работая с ежедневно обновляемой базой заявок от потребителей металла «Потребители».
    </p>
    <p>
        Вы получаете персональный сайт с коротким адресом, возможность перемещения визитной карточки вашей компании в списке на первое место.
    </p>
    <p>
        - Вы сможете размещать неограниченное кол-во объявлений и к ним загружать фото, а также указать время поднятия 3 (расширенный доступ) или 5 (полный доступ) объявлений
    </p>
    <p>СРОКИ АКЦИИ: до 10.05.2017 включительно</p>
    <p>ПОДКЛЮЧЕНИЕ СЕРВИСОВ ПОСЛЕ ОПЛАТЫ ВОЗМОЖНО ПО ДОГОВОРЕННОСТИ С ЛЮБОЙ ЖЕЛАЕМОЙ ДАТЫ</p>
    <p>Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: <a href="http://corp.metalloprokat.ru/services/">corp.metalloprokat.ru/services</a></p>
    <p>или по телефону +7 (495) 268-02-85</p>
    <br/>
    <p>С уважением, <a href="http://www.{{ user.country.baseHost }}">{{ user.country.domainTitle }}</a></p>
{% endblock %}
