{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}Больше бонус - больше сделок __ от Metalloprokat.ru{% endblock subject %}

{% block body_text %}
Уважаемые поставщики!

Вы хотите работать с покупателями металла Вашего региона в режиме он-лайн? А по всей России? Каждый день – новые заявки!

Вам интересно, чтобы к Вам обращались покупатели напрямую? По любой позиции Вашего прайс-листа Вас смогут найти покупатели из разных регионов страны и, конечно, из Вашего региона.

Предлагаем Вам несколько вариантов подключения доступа к порталу metalloprokat.ru: http://www.metalloprokat.ru/ на условиях НОВОГОДНЕЙ АКЦИИ:

1) На 1 месяц Расширенный доступ за 9 000 руб. или Полный за 11 000 рублей (впервые и только зимой 2015 г.!)
2) На квартал Расширенный доступ за 20 000 руб. или Полный за 24 000 рублей + 1 месяц бонус
3) На полгода Расширенный доступ за 34 000 руб. или Полный за 41 000 рублей + 2 месяца бонус
4) На год Расширенный доступ за 56 000 руб. или Полный за 67 000 рублей + 3 месяца бонус


Раздел «Поставщики» – http://www.metalloprokat.ru/ база прайс-листов по металлопрокату.

Раздел «Потребители» – http://www.metalloprokat.ru/demands/ база заявок от покупателей металла всей России.

Доска объявлений: http://www.metal-trade.ru/.


Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: http://corp.metalloprokat.ru/services/ или по телефону +7 (495) 268-02-85


Успехов Вам и Вашему бизнесу!
Команда портала Metalloprokat.ru
{{ block('text_footer') }}
{% endblock body_text %}

{% block text_part_header %}
    <p style="font-family: Arial; color: #171F26; font-size: 24px; line-height: 26px;">
        Уважаемые поставщики!
    </p>
{% endblock text_part_header %}

{% block text_part_body %}
    <p style="font-size: 12;">
        Вы хотите работать с покупателями металла Вашего региона в режиме он-лайн? А по всей России? Каждый день – новые заявки!<br/>
        Вам интересно, чтобы к Вам обращались покупатели напрямую? По любой позиции Вашего прайс-листа Вас смогут найти покупатели из разных регионов страны и, конечно, из Вашего региона.<br/>
        Предлагаем Вам несколько вариантов подключения доступа к порталу <a href="http://www.metalloprokat.ru/" target="_blank">metalloprokat.ru</a> на условиях НОВОГОДНЕЙ АКЦИИ:
        <ol>
            <li>На 1 месяц Расширенный доступ за 9 000 руб. или Полный за 11 000 рублей (впервые и только зимой 2015 г.!)</li>
            <li>На квартал Расширенный доступ за 20 000 руб. или Полный за 24 000 рублей + 1 месяц бонус</li>
            <li>На полгода Расширенный доступ за 34 000 руб. или Полный за 41 000 рублей + 2 месяца бонус</li>
            <li>На год Расширенный доступ за 56 000 руб. или Полный за 67 000 рублей + 3 месяца бонус</li>
        </ol>
        <ul>
            <li>Раздел «<a href="http://www.metalloprokat.ru/">Поставщики</a>» – база прайс-листов по металлопрокату.</li>
            <li>Раздел «<a href="http://www.metalloprokat.ru/demands/">Потребители</a>» – база заявок от покупателей металла всей России.</li>
            <li>Доска объявлений: <a href="http://www.metal-trade.ru/" target="_blank">www.metal-trade.ru</a>.</li>
        </ul>
        Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: <a href="http://corp.metalloprokat.ru/services/" target="_blank">corp.metalloprokat.ru/services/</a> или по телефону +7 (495) 268-02-85
        <br/>
        <br/>
        Успехов Вам и Вашему бизнесу!<br/>
        Команда портала Metalloprokat.ru<br/>
    </p>
{% endblock text_part_body %}
