{% extends '@markup/portal/wizzard/_wizzard_layout.html.twig' %}
{% block title 'Step - 2' %}
{% block content %}
    <div id="content" class="register content-wide js-calc-height clearfix">
        <div class="steps-block float-left">
            <div class="block-title">Получайте клиентов</div>
            <ul class="steps list">
                <li class="step item first">
                    <div class="step-count is-bordered ie-radius">1</div>
                    <p class="text">Создайте сайт компании</p>
                </li>
                <li class="step item">
                    <div class="step-count is-bordered ie-radius">2</div>
                    <p class="text">Добавьте товары</p>
                </li>
                <li class="step item">
                    <div class="step-count is-bordered ie-radius">3</div>
                    <p class="text">Получайте заявки потребителей</p>
                </li>
            </ul>
            <p class="slogan">Быстро и бесплатно!</p>
            <div class="questions">
                <p class="text">Вопросы?</p>

                <p class="text"><span class="phone-text">+7 (495) 984-06-52</span> или <a class="email-link" href="#">пишите</a></p>
            </div>
        </div>
        <div class="wizzard-block float-left">
            <ul class="steps-list clearfix">
                <li class="step item float-left completed">
                    <div class="step-count is-bordered ie-radius">1</div>
                </li>
                <li class="step item float-left active">
                    <div class="step-count is-bordered ie-radius">2</div>
                </li>
                <li class="step item float-left">
                    <div class="step-count is-bordered ie-radius">3</div>
                </li>
            </ul>
            <div class="main-title ">
                <h1>Прайс-лист</h1>
            </div>
            <form class="register-form" action="#">
                <fieldset>
                    <div class="category-list-wrapper">
                        <p class="category-title"><strong>Категории предлагаемой арматуры</strong></p>
                        <div class="scroll-block js-scrollable">
                            <div class="category-list">
                                <div class="item-group clearfix">
                                    <div class="item float-left">
                                        <div class="item-label first-item clickable clearfix">
                                            <input type="text" class="form-text float-right" placeholder="Класс" />
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <button type="submit" class="icon-search-small search-button"></button>
                                        </div>
                                        <label class="item-label clickable is-gradiented">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>А333333333999999999999</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>А500С</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>А1</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>Ат800</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>А400С</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>А6</span>
                                        </label>
                                    </div>
                                    <div class="item float-left">
                                        <div class="item-label first-item clickable clearfix">
                                            <input type="text" class="form-text float-right" placeholder="Марка" />
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <button type="submit" class="icon-search-small search-button"></button>
                                        </div>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>35ГС</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>25Г2С</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>Ст3сп</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>Ст3</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>A</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>Ст3пс</span>
                                        </label>
                                    </div>
                                    <div class="item float-left">
                                        <div class="item-label first-item clickable clearfix">
                                            <input type="text" class="form-text float-right" placeholder="Страна" />
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <button type="submit" class="icon-search-small search-button"></button>
                                        </div>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>Украина</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>Россия</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>Казахстан</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>Белорусь</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>Молдова</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>Литва</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>Латвия</span>
                                        </label>
                                    </div>
                                    <div class="item float-left">
                                        <div class="item-label first-item clickable clearfix">
                                            <input type="text" class="form-text float-right" placeholder="ГОСТ" />
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <button type="submit" class="icon-search-small search-button"></button>
                                        </div>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>5781-82</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>СТО АСЧМ 7-93</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>14-1-5254-94</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>Р 52544-2006</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>A</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>10884-94</span>
                                        </label>
                                        <label class="item-label clickable">
                                            <input type="checkbox" class="js-styled-checkbox bg-grey"/>
                                            <span>14-1-5526-2006</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="update-price-list">
                        <div class="update-price-item">
                            <input id="id-1" type="checkbox" disabled="disabled" checked class="js-styled-checkbox bg-grey"/>
                            <label for="id-1">цены буду обновлять самостоятельно</label>
                        </div>
                        <div class="update-price-item">
                            <div class="clearfix">
                                <div class="float-left">
                                    <input id="id-1" type="checkbox" class="js-styled-checkbox bg-grey"/>
                                    <label for="id-1">при помощи наших специалистов</label>
                                </div>
                                <div class="file-wrapper float-left">
                                    <label class="file-upload">
                                        <span class="load-file-btn ico-upload">Загрузить из файла...</span>
                                        <input type="file"/>
                                    </label>
                                </div>
                            </div>
                            <div class="radio-group">
                                <div class="radio-item">
                                    <input id="id-radio-1" name="updater" type="radio" class="radio bg-grey80"/>
                                    <label for="id-radio-1">раз в две недели</label>
                                </div>
                                <div class="radio-item">
                                    <input id="id-radio-2" name="updater" type="radio" class="radio bg-grey80"/>
                                    <label for="id-radio-2">раз в месяц</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-wrapper clearfix">
                        <input class="button green-bg ie-radius" type="submit" value="Продолжить"/>
                        <a href="#" class="link">Пропустить</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
