{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% if object.processedBy %}
            <p>{{ object.processedBy.getFullName }}</p>
        {% endif %}
    </div>
{% endblock %}
