{% extends 'markup/html/portal/suppliers/companies.html.twig' %}

{% block title 'Brands list' %}
{% block content %}
    <div id="content" class="content-right outline-right float-right">
        <div class="main-title ">
            <h1>Бренды</h1>
        </div>
        {% block tabs %}
            {% set activeTab = 'brands' %}
            {{ parent() }}
        {% endblock %}
        <div id="company" class="view-category companies catalog">
            <ul class="company list clearfix">
                <li class="company-item clearfix">
                    <div class="view-company float-left">
                        <div class="holder">
                            <div class="top-block clearfix">
                                <div class="company-logo float-left">
                                    <a class="img-link" href="#">
                                        <img src="./markup/pic/l-day.jpg" width="64" height="64"
                                             alt="image description"/>
                                    </a>
                                </div>
                                <div class="company-info float-left">
                                    <div class="prod-title clearfix">

                                        <div class="title"><a href="#" class="is-gradiented-bottom">Летний день</a></div>
                                    </div>
                                    <p class="localization gray60-color">Москва, Владимир, Казань</p>
                                    <a class="site" href="#">danone.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="send-order float-left">
                        <div class="holder clearfix">
                            <div class="clearfix" style="position: relative;">
                                <div class="img-wrapper">
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/lday-prod.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/lday-prod2.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/actual.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/actimel.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link clickable"
                                               href="#">
                                                <span class="icon-points"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="announcement has-announcement">
                    <img src="./markup/pic/inside-banner.jpg" width="735" height="90" alt="image description"/>
                </li>
                <li class="company-item clearfix">
                    <div class="view-company float-left">
                        <div class="holder">
                            <div class="top-block clearfix">
                                <div class="company-logo float-left">
                                    <a class="img-link pattern-small" href="#">
                                        <img src="./markup/pic/l-day.jpg" width="64" height="64"
                                             alt="image description"/>
                                    </a>
                                </div>
                                <div class="company-info float-left">
                                    <div class="prod-title clearfix">

                                        <div class="title"><a href="#" class="is-gradiented-bottom">Летний день</a></div>
                                    </div>
                                    <p class="localization gray60-color">Москва, Владимир, Казань</p>
                                    <a class="site" href="#">danone.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="send-order float-left">
                        <div class="holder clearfix">
                            <div class="clearfix" style="position: relative;">
                                <div class="img-wrapper">
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/lday-prod.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link pattern-small"
                                               href="#">

                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/actual.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/actimel.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link clickable"
                                               href="#">
                                                <span class="icon-points"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="company-item clearfix">
                    <div class="view-company float-left">
                        <div class="holder">
                            <div class="top-block clearfix">
                                <div class="company-logo float-left">
                                    <a class="img-link pattern-small" href="#">
                                        <img src="./markup/pic/l-day.jpg" width="64" height="64"
                                             alt="image description"/>
                                    </a>
                                </div>
                                <div class="company-info float-left">
                                    <div class="prod-title clearfix">

                                        <div class="title"><a href="#" class="is-gradiented-bottom">Летний день</a></div>
                                    </div>
                                    <p class="localization gray60-color">Москва, Владимир, Казань</p>
                                    <a class="site" href="#">danone.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="send-order float-left">
                        <div class="holder clearfix">
                            <div class="clearfix" style="position: relative;">
                                <div class="img-wrapper">
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/lday-prod.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/lday-prod2.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/actual.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/actimel.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link clickable"
                                               href="#">
                                                <span class="icon-points"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="company-item clearfix">
                    <div class="view-company float-left">
                        <div class="holder">
                            <div class="top-block clearfix">
                                <div class="company-logo float-left">
                                    <a class="img-link pattern-small" href="#">
                                        <img src="./markup/pic/l-day.jpg" width="64" height="64"
                                             alt="image description"/>
                                    </a>
                                </div>
                                <div class="company-info float-left">
                                    <div class="prod-title clearfix">

                                        <div class="title"><a href="#" class="is-gradiented-bottom">Летний день</a></div>
                                    </div>
                                    <p class="localization gray60-color">Москва, Владимир, Казань</p>
                                    <a class="site" href="#">danone.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="send-order float-left">
                        <div class="holder clearfix">
                            <div class="clearfix" style="position: relative;">
                                <div class="img-wrapper">
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/lday-prod.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/lday-prod2.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/actual.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/actimel.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link clickable"
                                               href="#">
                                                <span class="icon-points"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="announcement has-announcement">
                    <img src="./markup/pic/inside-banner.jpg" width="735" height="90" alt="image description"/>
                </li>
                <li class="company-item clearfix">
                    <div class="view-company float-left">
                        <div class="holder">
                            <div class="top-block clearfix">
                                <div class="company-logo float-left">
                                    <a class="img-link pattern-small" href="#">
                                        <img src="./markup/pic/l-day.jpg" width="64" height="64"
                                             alt="image description"/>
                                    </a>
                                </div>
                                <div class="company-info float-left">
                                    <div class="prod-title clearfix">

                                        <div class="title"><a href="#" class="is-gradiented-bottom">Летний день</a></div>
                                    </div>
                                    <p class="localization gray60-color">Москва, Владимир, Казань</p>
                                    <a class="site" href="#">danone.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="send-order float-left">
                        <div class="holder clearfix">
                            <div class="clearfix" style="position: relative;">
                                <div class="img-wrapper">
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/lday-prod.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/lday-prod2.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/actual.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/actimel.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link clickable"
                                               href="#">
                                                <span class="icon-points"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="company-item clearfix">
                    <div class="view-company float-left">
                        <div class="holder">
                            <div class="top-block clearfix">
                                <div class="company-logo float-left">
                                    <a class="img-link pattern-small" href="#">
                                        <img src="./markup/pic/l-day.jpg" width="64" height="64"
                                             alt="image description"/>
                                    </a>
                                </div>
                                <div class="company-info float-left">
                                    <div class="prod-title clearfix">

                                        <div class="title"><a href="#" class="is-gradiented-bottom">Летний день</a></div>
                                    </div>
                                    <p class="localization gray60-color">Москва, Владимир, Казань</p>
                                    <a class="site" href="#">danone.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="send-order float-left">
                        <div class="holder clearfix">
                            <div class="clearfix" style="position: relative;">
                                <div class="img-wrapper">
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/lday-prod.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/lday-prod2.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/actual.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link"
                                               href="#">
                                                <img src="./markup/pic/actimel.jpg" width="40" height="40"
                                                     alt="image description"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img is-bordered float-left">
                                        <div class="img-holder">
                                            <a class="img-link clickable"
                                               href="#">
                                                <span class="icon-points"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="see-more-block-wrapper">
                    <div class="see-more-block">
                        <a class="see-more button ie-radius" href="#">показать еще...</a>
                    </div>
                </li>
            </ul>

        </div>
        {{ block('search_more') }}
    </div>
{% endblock %}
