{% extends '@markup/corporate/_corporate_layout.html.twig' %}
{% block title 'Corporate site - About' %}
{% block header_menu %}
    {% set activeMenu = 'media' %}
    {{ parent() }}
{% endblock header_menu %}
{% block content %}
    <div id="content" class="corporate-content content-wide clearfix">

        <div class="schema float-left">
            <img src="./markup/pic/mockup.png" alt="image descriptions" width="200" class="clickable js-popup-opener" data-popup="#photo"/>
        </div>
        <div class="announcement-info-wrapper float-right">
            <h1 class="title">Реклама</h1>
            <div class="table-box-holder">
                <table class="announcement-info">
                    <thead>
                        <tr class="col">
                            <td class="name col">Название</td>
                            <td class="size col">Размер</td>
                            <td class="price col">Стоимость за месяц</td>
                            <td class="order col"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row odd">
                            <td class="name col">
                                <p>Премиум</p>
                            </td>
                            <td class="size col">
                                <p>960x90</p>
                            </td>
                            <td class="price col">
                                <p>27000 <span class="icon-rouble"></span></p>
                                <p class="status-text green-color">Свободен</p>
                            </td>
                            <td class="order col">
                                <a class="buy-btn button green-bg ie-radius" href="#">Заказать</a>
                            </td>
                        </tr>
                        <tr class="row even">
                            <td class="name col">
                                <p>Центральный-1</p>
                            </td>
                            <td class="size col">
                                <p>960x90</p>
                            </td>
                            <td class="price col">
                                <p>27000 <span class="icon-rouble"></span></p>
                                <p class="status-text blue-color">Зарезервирован с 29.01.2014 по 29.01.2015</p>
                            </td>
                            <td class="order col">
                                <a class="buy-btn button green-bg ie-radius" href="#">Заказать</a>
                            </td>
                        </tr>
                        <tr class="row odd">
                            <td class="name col">
                                <p>Центральный-1</p>
                            </td>
                            <td class="size col">
                                <p>960x90</p>
                            </td>
                            <td class="price col">
                                <p>27000 <span class="icon-rouble"></span></p>
                                <p class="status-text red-color">Выкуплен с 29.01.2013 по 29.01.2014</p>
                            </td>
                            <td class="order col">
                                <a class="buy-btn button green-bg ie-radius" href="#">Заказать</a>
                            </td>
                        </tr>
                        <tr class="row even">
                            <td class="name col">
                                <p>Центральный-1</p>
                            </td>
                            <td class="size col">
                                <p>960x90</p>
                            </td>
                            <td class="price col">
                                <p>27000 <span class="icon-rouble"></span></p>
                                <p class="status-text green-color">Свободен</p>
                            </td>
                            <td class="order col">
                                <a class="buy-btn button green-bg ie-radius" href="#">Заказать</a>
                            </td>
                        </tr>
                        <tr class="row odd">
                            <td class="name col">
                                <p>Центральный-1</p>
                            </td>
                            <td class="size col">
                                <p>960x90</p>
                            </td>
                            <td class="price col">
                                <p>27000 <span class="icon-rouble"></span></p>
                                <p class="status-text green-color">Свободен</p>
                            </td>
                            <td class="order col">
                                <a class="buy-btn button green-bg ie-radius" href="#">Заказать</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="button-block">
                <ul class="list">
                    <li class="item">
                        <span class="link clickable js-popup-opener" data-popup="#requirements-for-announcement">Требования к баннеру</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}