<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div style="text-align: center; width: 980px; margin: 0 auto; text-align: center; font-family: 'Open Sans'">
            <h1 class="title" style="color: #f16961; font-size: 36px; margin-bottom: 30px; font-weight: 600;">Ошибка 503</h1>
            <p style="font-size: 16px; margin-bottom: 30px;">В процессе исполнения сервером запроса произошла ошибка.
                <br/>Если проблема сохраняется, оставьте ваш отзыв, указав номер <br/> ошибки и запрос, который ее вызвал</p>
        </div>
    </body>
</html>


