{% extends '@markup/content/_content_layout.html.twig' %}

{% block content %}
    <div id="content" class="content-wide table-container outline-left">
        <div class="left table-cell">
            <div class="inside-page">
                <div class="product-info-wrapper clearfix">
                    <div class="product-info">
                        <div class="creation-info gray60-color">
                            <span class="date icon-clock">15 апр 2015 11:25</span>,
                            <span class="user-name link js-popup-opener clickable" data-popup="#user-info">admin</span>
                        </div>
                        <div class="categories gray60-color">
                            <span>Раздел: </span>
                            <a class="link">Кондиционер</a>,
                            <a class="link">Электроснабжение</a>
                        </div>
                        <h1 class="product_main-title">
                            Все о резервном электроснабжении в домах – автозапуск, генератор, ИБП
                        </h1>
                        <div class="tags icon-clip gray60-color">
                            <span>Метки: </span>
                            <a class="link">Кондиционер</a>,
                            <a class="link">Электроснабжение</a>
                        </div>
                        <div class="information">
                            <p class="text">Всем привет. У меня в планах постройка бани. Сейчас, пока еще не совсем все
                                так подорожало, есть возможность заказать сруб. Поскольку, ест и куда его сложить под
                                навес до зимы, решил прикупить именно сейчас, чтобы потом просто собрать. Но возник
                                малюсенький нюанс. Сруб под баню мне привезут, но, на сколько я понял, в нем не
                                предусмотрена вырубка окна и двери, а значит, дверные и оконные проемы мне придется
                                делать самостоятельно. И как это сделать – я не знаю. Подскажите, пожалуйста, кто этим
                                занимался, как это сделать правильно?</p>

                        </div>

                    </div>
                    <ul class="links">
                        <li class="links_answer item width-141 clearfix">
                            <a class="button answer is-bordered green-bg js-popup-opener ie-radius" data-popup="#add-answer" href="#">
                                <span>Ответить</span>
                                <span class="icon-back float-right"></span>
                            </a>

                        </li>
                    </ul>
                </div>
                <div id="tabs" class="result-tabs-wrapper tabs demand_tabs catalog-tabs clearfix">
                    <ul class="tabs-list clearfix">
                        <li class="item active js-tabs" data-tab="#answers-tab">
                            <span class="count float-right">1</span>
                            <span class="link">Ответы</span>
                        </li>
                        <li class="item js-tabs" data-tab="#similar-article-tab">
                            <span class="count float-right">10</span>
                            <span class="link">Похожие вопросы</span>
                        </li>
                    </ul>
                </div>
                <div class="tabs-content">
                    <div id="answers-tab" class="similar-list reviews-block answers">
                        <ul class="reviews answers-list">
                            <li class="item outline">
                                <div class="answer clearfix">
                                    <div class="img-wrapper float-left">
                                        <img src="./markup/pic/user.jpg" alt="image description" width="60" height="60">
                                    </div>
                                    <div class="text-wrapper information">
                                        <div class="creation-info gray60-color">
                                            <span class="date icon-clock">15 апр 2015 11:25</span>,
                                            <span class="user-name link js-popup-opener clickable" data-popup="#user-info">admin</span>
                                        </div>
                                        <p class="text">
                                            Если вы хотите минимальные расходы, то ни в коем случае не выпиливайте оконные и
                                            дверные проемы после окончательной сборки. Раньше лес был дешевле, народ делал, что
                                            хотел, сейчас подобное может привести к дополнительным тратам. Сначала отметьте, где у
                                            вас будет дверь и окна, выпилите проемы еще на стадии бревен. Целыми можно оставить
                                            каждое третье или четвертое бревно от венца. После сборки окончательно выпилить проем
                                            гораздо проще, а не распиленные бревна будут выполнять связующую роль в сборке.
                                        </p>
                                        <ul class="links">
                                            <li class="links_answer width-141 clearfix">
                                                <a class="button answer is-bordered green-bg js-popup-opener ie-radius" data-popup="#demand-answer-1" href="#">
                                                    <span>Ответить</span>
                                                    <span class="icon-back float-right"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="similar-article-tab" class="similar-list reviews-block g-hidden">
                        <ul class="reviews list">
                            <li class="item outline">
                                <div class="title">
                                    <strong><a href="#" class="link">Автоматика для защиты дома от потопа</a></strong>
                                </div>
                                <p class="text is-gradiented-bottom">Если рассматривать частный пример, то ноутбуки снабжены подобными блоками для подачи
                                    бесперебойного питания всем нам известно, что информация во время скачка напряжения
                                    теряется, что крайне негативно может отразиться на любой работе.</p>
                            </li>
                            <li class="item outline">
                                <div class="title"><strong><a href="#">Автономная канализация и ее преимущества</a></strong></div>
                                <p class="text is-gradiented-bottom">Если рассматривать частный пример, то ноутбуки снабжены подобными блоками для подачи
                                    бесперебойного питания всем нам известно, что информация во время скачка напряжения
                                    теряется, что крайне негативно может отразиться на любой работе.</p>
                            </li>
                            <li class="item outline">
                                <div class="title"><strong><a href="#">Крепеж каркасно-панельных домов</a></strong></div>
                                <p class="text is-gradiented-bottom">Если рассматривать частный пример, то ноутбуки снабжены подобными блоками для подачи
                                    бесперебойного питания всем нам известно, что информация во время скачка напряжения
                                    теряется, что крайне негативно может отразиться на любой работе.</p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="product-right right table-cell">
            <div class="info-wrapper white-bg">

                <div class="topics-block">
                    <h3 class="title ">Популярные темы</h3>

                    <ul class="topics list">
                        <li class="item">
                            <div class="title">
                                <a href="#" class="link">Как грамотно принять квартиру, купленную в новом доме</a>
                            </div>

                        </li>
                        <li class="item">
                            <div class="title">
                                <a href="#" class="link">Бытовые вытяжные вентиляторы</a>
                            </div>

                        </li>
                        <li class="item">
                            <div class="title">
                                <a href="#" class="link">Вентиляция квартиры</a>
                            </div>
                        </li>
                        <li class="item">
                            <div class="title">
                                <a href="#" class="link">Оборудование для кухни</a>
                            </div>

                        </li>
                        <li class="item">
                            <div class="title">
                                <a href="#" class="link">Как победить жару и зной - дома, в офисе и на даче</a>
                            </div>

                        </li>
                        <li class="item">
                            <div class="title">
                                <a href="#" class="link">Очистители воздуха для комфортной жизни</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
{% endblock %}



