{% extends '@markup/corporate/_corporate_layout.html.twig' %}
{% block title 'Corporate site - Clients' %}
{% block header_menu %}
    {% set activeMenu = 'clients' %}
    {{ parent() }}
{% endblock header_menu %}
{% block content %}
    <div id="content" class="corporate-content content-wide clearfix">
        <div class="clients-wrapper clearfix">
            <ul class="clients float-left">
                <li class="client float-left">
                    <div class="client-logo">
                        <span class="img ie-radius">
                            <img src="./markup/pic/userpic.jpg" alt=""/>
                        </span>
                    </div>
                    <p class="client-title">Стальторг</p>
                    <div class="drop-wrapper opacity-border" style="display: block;">
                        <div class="dropdown table-container">
                            <div class="client-info-wrapper table-cell">
                                <div class="client-logo " >
                                <span class="img ie-radius">
                                    <img src="./markup/pic/userpic.jpg" alt=""/>
                                </span>
                                </div>
                                {#<p class="client-title">Стальторг</p>#}
                            </div>
                            <div class="reviews-block table-cell">
                                <ul class="reviews list">
                                    <li class="icon-positive item">
                                        <p class="text">
                                            Покупал у них водонагреватель и в принципе никаких претензий к ним нет.
                                            Покупал у них водонагреватель и в принципе никаких претензий к ним нет.
                                            Покупал у них водонагреватель и в принципе никаких претензий к ним нет.
                                            Покупал у них водонагреватель и в принципе никаких претензий к ним нет.
                                            Покупал у них водонагреватель и в принципе никаких претензий к ним нет.
                                            Покупал у них водонагреватель и в принципе никаких претензий к ним нет.
                                        </p>
                                        <div class="info">
                                            <span class="author">Николай Чистяков</span>,
                                            <span class="period">Менеджер</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="client float-left">
                    <div class="client-logo">
                        <span class="img ie-radius"></span>
                    </div>
                    <p class="client-title">Стальторг</p>
                    <div class="drop-wrapper opacity-border">
                        <div class="dropdown table-container">
                            <div class="client-info-wrapper table-cell">
                                <div class="client-logo " >
                                <span class="img ie-radius">
                                    <img src="./markup/pic/userpic.jpg" alt=""/>
                                </span>
                                </div>
                                {#<p class="client-title">Стальторг</p>#}
                            </div>
                            <div class="reviews-block table-cell">
                                <ul class="reviews list">
                                    <li class="icon-positive item">
                                        <p class="text">
                                            Покупал у них водонагреватель и в принципе никаких претензий к ним нет.
                                        </p>
                                        <div class="info">
                                            <span class="author">Николай Чистяков</span>,
                                            <span class="period">Менеджер</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="client float-left">
                    <div class="client-logo">
                        <span class="img ie-radius"></span>
                    </div>
                    <p class="client-title">Стальторг</p>
                    <div class="drop-wrapper opacity-border">
                        <div class="dropdown table-container">
                            <div class="client-info-wrapper table-cell">
                                <div class="client-logo " >
                                <span class="img ie-radius">
                                    <img src="./markup/pic/userpic.jpg" alt=""/>
                                </span>
                                </div>
                                {#<p class="client-title">Стальторг</p>#}
                            </div>
                            <div class="reviews-block table-cell">
                                <ul class="reviews list">
                                    <li class="icon-positive item">
                                        <p class="text">
                                            Покупал у них водонагреватель и в принципе никаких претензий к ним нет.
                                        </p>
                                        <div class="info">
                                            <span class="author">Николай Чистяков</span>,
                                            <span class="period">Менеджер</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="client float-left">
                    <div class="client-logo">
                        <span class="img ie-radius"></span>
                    </div>
                    <p class="client-title">Стальторг</p>
                    <div class="drop-wrapper opacity-border right-position">
                        <div class="dropdown table-container">
                            <div class="client-info-wrapper table-cell">
                                <div class="client-logo " >
                                <span class="img ie-radius">
                                    <img src="./markup/pic/userpic.jpg" alt=""/>
                                </span>
                                </div>
                                {#<p class="client-title">Стальторг</p>#}
                            </div>
                            <div class="reviews-block table-cell">
                                <ul class="reviews list">
                                    <li class="icon-positive item">
                                        <p class="text">
                                            Покупал у них водонагреватель и в принципе никаких претензий к ним нет.
                                        </p>
                                        <div class="info">
                                            <span class="author">Николай Чистяков</span>,
                                            <span class="period">Менеджер</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="client float-left">
                    <div class="client-logo">
                        <span class="img ie-radius"></span>
                    </div>
                    <p class="client-title">Стальторг</p>
                    <div class="drop-wrapper opacity-border right-position">
                        <div class="dropdown table-container">
                            <div class="client-info-wrapper table-cell">
                                <div class="client-logo " >
                                <span class="img ie-radius">
                                    <img src="./markup/pic/userpic.jpg" alt=""/>
                                </span>
                                </div>
                                {#<p class="client-title">Стальторг</p>#}
                            </div>
                            <div class="reviews-block table-cell">
                                <ul class="reviews list">
                                    <li class="icon-positive item">
                                        <p class="text">
                                            Покупал у них водонагреватель и в принципе никаких претензий к ним нет.
                                        </p>
                                        <div class="info">
                                            <span class="author">Николай Чистяков</span>,
                                            <span class="period">Менеджер</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="client float-left">
                    <div class="client-logo">
                        <span class="img ie-radius"></span>
                    </div>
                    <p class="client-title">Стальторг</p>
                </li>
                <li class="client float-left">
                    <div class="client-logo">
                        <span class="img ie-radius"></span>
                    </div>
                    <p class="client-title">Стальторг</p>
                </li>
                <li class="client float-left">
                    <div class="client-logo">
                        <span class="img ie-radius"></span>
                    </div>
                    <p class="client-title">Стальторг</p>
                </li>
                <li class="client float-left">
                    <div class="client-logo">
                        <span class="img ie-radius"></span>
                    </div>
                    <p class="client-title">Стальторг</p>
                </li>
                <li class="client float-left">
                    <div class="client-logo">
                        <span class="img ie-radius"></span>
                    </div>
                    <p class="client-title">Стальторг</p>
                </li>
                <li class="client float-left">
                    <div class="client-logo">
                        <span class="img ie-radius"></span>
                    </div>
                    <p class="client-title">Стальторг</p>
                </li>
                <li class="client float-left">
                    <div class="client-logo">
                        <span class="img ie-radius"></span>
                    </div>
                    <p class="client-title">Стальторг</p>
                </li>
                <li class="client float-left">
                    <div class="client-logo">
                        <span class="img ie-radius"></span>
                    </div>
                    <p class="client-title">Стальторг</p>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}