.red-bg{background: #f16961;}
.red-color{color: #f16961;}
.gray60-bg{background: #919191;}
.gray60-color{color: #919191;}
.green-bg{
    background: #3fab61;
    border-color: #3fab61 !important;
}
.green-color{color: #3fab61;}
.blue-bg{background: #18a3d1;}
.blue-color{color: #18a3d1;}
.white95-color{color: #f1f1f1;}
.white95-bg{background: #f1f1f1;}
.gray90-color{color: #e2e2e2;}
.gray80-color{color: #c6c6c6;}
.black15-color{color: #262626;}
.white-bg{background: #fff;}

.gold-color{color: #c7902c;}
.gold-bg{background: #c7902c;}
