{% extends 'SprosProjectBundle:Default:form.html.twig' %}

{% block title 'Оформление заказа' %}

{% block meta_description 'Оформление заказа' %}

{% block form_title  %}
    <h2>Оформление заказа</h2>
{% endblock %}

{% block submit_value_title %}
    <input class="submit-button button js-clickable" type="submit" value="Заказать"/>
{% endblock %}

{% block phone_form '' %}
