{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% if object.company %}
            <div><b>{{ object.company.id }}</b></div>
            <div>{{ object.company.title }}</div>
        {% endif %}
    </div>
{% endblock %}
