{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}Новогоднее предложение на Product.ru!{% endblock subject %}

{% block body_text %}
Уважаемые наши партнеры!

До 31.12.2016 года дарим бесплатные месяцы доступа:

На полгода расширенный доступ за 16 000 руб. или полный за 20 000 рублей (экономия 15%) + 2 мес.БЕСПЛАТНО!

На год расширенный доступ за 28 000 руб. или полный за 36 000 рублей (экономия 25%) + 3 мес. БЕСПЛАТНО!

Раздел «Предложения» – Вы даете возможность вашим потенциальным клиентам найти вас по ЛЮБОЙ позиции вашего прайс-листа на нашем портале и в поисковых системах. Вы имеете возможность закачать фото к позициям и они будут показываться в основных разделах портала. При авторизации Ваши позиции в разделе "Предложения" так же будут подниматься на ПЕРВОЕ место.
Раздел «Потребители» – Вы увеличиваете количество ваших клиентов, работая с ЕЖЕДНЕВНО обновляемой базой заявок от ПОКУПАТЕЛЕЙ продуктов питания «Потребители».

Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: http://corp.product.ru/services/ или по телефону +7 (495) 268-02-85

Успехов Вам и Вашему бизнесу!
Команда портала Product.ru

{{ block('text_footer') }}
{% endblock body_text %}

{% block text_part_header %}
    <p style="font-family: Arial; color: #171F26; font-size: 24px; line-height: 26px;">
        Уважаемые наши партнеры!
    </p>
{% endblock text_part_header %}

{% block text_part_body %}
    <p style="font-size: 12;">
        До 31.12.2016 года дарим бесплатные месяцы доступа:
    <ol>
        <li>На полгода расширенный доступ за 16 000 руб. или полный за 20 000 рублей (экономия 15%) + 2 мес.БЕСПЛАТНО!</li>
        <li>На год расширенный доступ за 28 000 руб. или полный за 36 000 рублей (экономия 25%) + 3 мес. БЕСПЛАТНО!</li>
    </ol>
    <ul>
        <li>Раздел «<a href="http://www.product.ru/">Поставщики</a>» – Вы даете возможность вашим потенциальным клиентам найти вас по ЛЮБОЙ позиции вашего прайс-листа на нашем портале и в поисковых системах. Вы имеете возможность закачать фото к позициям и они будут показываться в основных разделах портала. При авторизации Ваши позиции в разделе "Предложения" так же будут подниматься на ПЕРВОЕ место.</li>
        <li>Раздел «<a href="http://www.product.ru/demands/">Потребители</a>» – Вы увеличиваете количество ваших клиентов, работая с ЕЖЕДНЕВНО обновляемой базой заявок от ПОКУПАТЕЛЕЙ продуктов питания «Потребители».</li>
    </ul>
    Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: <a href="http://corp.product.ru/services/" target="_blank">corp.product.ru/services/</a> или по телефону +7 (495) 268-02-85
    <br/>
    <br/>
    Успехов Вам и Вашему бизнесу!<br/>
    Команда портала Product.ru
    </p>
{% endblock text_part_body %}
