{% extends 'MetalNewsletterBundle::project_base_layout.html.twig' %}

{% block subject %}Уважаемые поставщики!{% endblock subject %}

{% block body_text %}
    Уважаемые поставщики!

    Вы хотите работать с покупателями продуктов питания Вашего региона в режиме он-лайн? А по всей России? Каждый день - новые заявки!

    Вам интересно, чтобы к Вам обращались покупатели напрямую? По любой позиции Вашего прайс-листа Вас смогут найти покупатели из разных регионов страны и, конечно, из Вашего региона.

    Предлагаем Вам несколько вариантов подключения  доступа  к порталу Product.ru: http://www.product.ru/ на условиях НОВОГОДНЕЙ АКЦИИ:

    1) На квартал  Расширенный доступ за 4 500 руб. или Полный за 6 000 рублей + 1 месяц бонус
    2) На полгода Расширенный доступ за 8 000 руб. или Полный за 10 000 рублей + 2 месяца бонус
    3) На год Расширенный доступ за 14 000 руб. или Полный за 18 000 рублей + 3 месяца бонус

    Раздел «Поставщики» – http://www.product.ru/ база прайс-листов по продуктам питания.

    Раздел «Потребители» – http://www.product.ru/demands/ база заявок от покупателей продуктов питания всей России.

    Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: http://corp.product.ru/services/ или по телефону +7 (495) 268-02-85


    Успехов Вам и Вашему бизнесу!
    Команда портала Product.ru
    {{ block('text_footer') }}
{% endblock body_text %}

{% block text_part_header %}
    <p style="font-family: Arial; color: #171F26; font-size: 24px; line-height: 26px;">
        Уважаемые поставщики!
    </p>
{% endblock text_part_header %}

{% block text_part_body %}
    <p style="font-size: 12;">
        Вы хотите работать с покупателями продуктов питания Вашего региона в режиме он-лайн? А по всей России? Каждый день - новые заявки!<br/>
        Вам интересно, чтобы к Вам обращались покупатели напрямую? По любой позиции Вашего прайс-листа Вас смогут найти покупатели из разных регионов страны и, конечно, из Вашего региона.<br/>
        Предлагаем Вам несколько вариантов подключения  доступа  к порталу <a href="http://www.product.ru/" target="_blank">Product.ru</a> на условиях НОВОГОДНЕЙ АКЦИИ:
        <ol>
            <li>На квартал  Расширенный доступ за 4 500 руб. или Полный за 6 000 рублей + 1 месяц бонус</li>
            <li>На полгода Расширенный доступ за 8 000 руб. или Полный за 10 000 рублей + 2 месяца бонус</li>
            <li>На год Расширенный доступ за 14 000 руб. или Полный за 18 000 рублей + 3 месяца бонус</li>
        </ol>
        <ul>
            <li>Раздел «<a href="http://www.product.ru/">Поставщики</a>» – база прайс-листов по продуктам питания.</li>
            <li>Раздел «<a href="http://www.product.ru/demands/">Потребители</a>» – база заявок от покупателей продуктов питания всей России.</li>
        </ul>
        Более подробную информацию по расценкам и сервисам портала вы можете получить на портале: <a href="http://corp.product.ru/services/" target="_blank">corp.product.ru/services/</a> или по телефону +7 (495) 268-02-85
        <br/>
        <br/>
        Успехов Вам и Вашему бизнесу!<br/>
        Команда портала Product.ru
    </p>
{% endblock text_part_body %}
