SetEnvIf X-Forwarded-Proto https HTTPS=on

AddType text/x-component .htc
AddType font/ttf .ttf
AddType font/eot .eot
AddType font/otf .otf
AddType font/woff .woff

<FilesMatch "\.(ttf|otf|eot|woff)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
</FilesMatch>

#<FilesMatch "\.(js|css)$">
#    <IfModule mod_headers.c>
#        Header set Cache-Control "max-age=15552000"
#        Header unset ETag
#        Header unset Last-Modified
#    </IfModule>
#</FilesMatch>

AddDefaultCharset utf-8
Options +FollowSymLinks
Options -Indexes

RewriteEngine On

RewriteCond %{HTTP_HOST} ^(.+)\.(dev|srv)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ app_dev.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ app.php [QSA,L]
